div[data-role="page"].login-content-wrapper {
    background: $lgtBlue url('../images/blue_stripe.png');
    .ui-content {
        padding: 0px;
    }
}

#home-page {
    //background: url('../images/app-sponsors.svg') no-repeat;
}


.login-content {
    padding: 15px;
    h1 {
        color: #fff;
        font-size: 70px;
        text-align: right;
        height: 250px;
    }
    .tos {
        width: 350px;
        margin: 0 auto;
        color: #FFF;
        font-size: 12px;
        text-align: center;
    }
    .tos a {
        color: #FFF;
    }

    .tos a:hover {
        color: #EEE;
    }
    
    .tos a:visited {
        color: #FFF;
    }
}

#login-email {
    div[data-role="content"] {
        padding: 15px 10px 0;

        div.ui-input-text {
            margin: 0px;
            margin-top: 0px;
            padding: 0;
            background: transparent;
            border-left: 4px solid $medBlue;

            input {
                @include border-radius(0);
                background: #fff;
                font-size: $inputFontSize;
                width: 98%;
                height: 56px;
                margin: 0;
                padding-left: 2%;
                margin-bottom: 10px;
            }
        }
    }
    
    div[data-role="footer"] {
        padding: 0;
        & > div {
            padding: 5px 10px;
        }
    }
}

#navigation-footer-wrapper.single-btn {
    .ui-block-a {
        width: 100%;
        a[data-role="button"].back {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .ui-block-b {
        display: none;
    }
}

#login-email {
    .instructions {
        padding-bottom: 15px;
        color: #5A5A59;
    }

    #profile-avatar {
        padding-left: 0;
        padding-right: 7px;
        a[data-role="button"] {
            border: 0;
            display: block;
            float: right;
            clear: right;
            margin: 2px 0 0;
            width: 160px;
            height: 44px;


            .ui-btn-inner {
                background: $medBlue;
                padding: 0 40px 0 7px;
            }

            .ui-btn-text {
                text-align: left;
                line-height: 44px;
            }

            &#edit-profile-btn {
                .ui-btn-inner {
                    background: $medBlue url('../images/icon-profile.svg') no-repeat 95% 50%;
                }
            }
            &#remove-img-btn {
                margin-top: 10px;
                .ui-btn-inner {
                    background: $medBlue url('../images/icon-close.svg') no-repeat 95% 50%;
                }
            }

        }
    }

    form {
        clear: both;
        fieldset {
            margin: 15px 0 0;
        }
        legend {
            color: #5A5A59;
            margin: 0;
            padding: 0 0 7px;
        }
    }
    #gender-selector {
        fieldset {
            label {
                @include border-radius(0);
                color: #fff;
                background: $lgtGray;
                border: 0;
                .ui-btn-inner {
                    border: 0;
                }
            }

            .ui-input-text {
                padding: 0;
                margin: 0;
            }

            .ui-radio-on {
                background: $medBlue;
            }
        }
    }

    #nationality-selector {
        clear: both;
        legend {
            padding-left: 20px;
        }

        .ui-select {
            margin: 0;
            padding: 0;
            background: #989898;
            width: 100%;
            div {
                background: $medBlue;
                border: 0;
                color: #fff;
                height: 35px;
                @include border-radius(0);
            }
        }
        .ui-icon-arrow-d {
            background: url('../images/arrow-white-right.svg') no-repeat;
            background-size: 16px 16px;
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            width: 23px;
            margin-top: -6px;
        }
    }
}

#welcome-wrapper {
    .message {
        background: #fff;
        padding: 10px;
        margin: 10px 0;
        p {
            color: #000;
        }
        p:nth-child(odd) {
            color: $medBlue;
        }
    }
}