div[data-role="panel"] {
    background: $lgtGray;
    ul[data-role="listview"] {
        li {
            border-color: $borderGray;
            text-transform: uppercase;
            .ui-btn-inner {
                border: 0;
                .ui-icon {
                    border-radius: 0;
                    box-shadow: none;
                }
                .ui-icon-arrow-r {
                    background: url('../images/arrow-white-right.svg');
                    width: 30px;
                    height: 30px;
                    margin-top: -13px;
                    right: 13px;
                }
                .ui-icon-help {
                    background: url('../images/icon-question-mark-2.svg');
                    width: 9px;
                    height: 18px;
                    margin-top: -8px;
                    right: 23px;
                }
                .ui-icon-profile {
                    background: url('../images/icon-profile.svg');
                    width: 16px;
                    height: 16px;
                    margin-top: -7px;
                    right: 19px;
                }
                .ui-icon-logout {
                    background: url('../images/icon-close.svg');
                    width: 13px;
                    height: 15px;
                    margin-top: -7px;
                    right: 20px;
                }
            }
        }

        li[data-role="list-divider"][data-theme="a"] {
            background: url('../images/grey_stripe.png');
            padding: 2.5em 15px;
        }

        li[data-theme="a"],
        li[data-theme="b"] {
            background: $menuGray;
            &.orange {
                background: $orange !important;
                .ui-btn-text a {
                    color: white !important;
                }
            }
            .ui-btn-text a {
                color: #e5e5e5;
                font-family: "ThreeSix11Pro-Reg";
                font-size: 16px;
                padding: 1.55em 1em;
            }
        }

        li[data-theme="c"] {
            background: $menuGray;
            .ui-btn-text a {
                color: #e5e5e5;
                padding: .65em 15px;
                font-family: "ThreeSix11Pro-Reg";
            }
        }
    }
    /*
     * Hacky way to highlight menu items
     */
    &[data-active-section="explore"] {
        ul[data-role="listview"] {
            li[data-section="explore"] {
                @include active-menu-item;
            }
        }
    }
    &[data-active-section="design"] {
        ul[data-role="listview"] {
            li[data-section="design"] {
                @include active-menu-item;
            }
        }
    }
    &[data-active-section="suggestions"] {
        ul[data-role="listview"] {
            li[data-section="suggestions"] {
                @include active-menu-item;
            }
        }
    }
    &[data-active-section="recipes"] {
        ul[data-role="listview"] {
            li[data-section="recipes"] {
                @include active-menu-item;
            }
        }
    }
}