#create-success-wrapper, #order-summary-wrapper {
    margin: 0;
    padding: 0;
    ul {
        margin: 0;
    }

    @include blue-text-input($margin: 10px);

    .message-banner {
        color: #fff;
        background: $medBlue;
        padding: 20px 10px 20px;
        font-family: "ThreeSix11Pro-Reg";
        position: relative;

        &.blue
        {
            background: $lgtBlue;
            padding: 10px;
        }

        .count {
            font-size: 40px;
            position: absolute;
            top: 25%;
            left: 12px;
        }

        p {
            padding: 0;
            font-size: 20px;
            line-height: 26px;
        }
    }

    .order-details-wrapper {
        //padding: 0 10px 15px;
    }
}