#order-status-wrapper {
    margin: 0;

    ul {
        margin: 0;
    }

    .queue-position {
        @include blue-banner-top;

        .count {
            font-size: 40px;
            display: table-cell;
            vertical-align: middle;
            padding: 15px;
            width: 60px;
        }
        p {
            padding: 0;
            font-size: $headerFontSize;
            line-height: $headerFontSize;
            margin: 0px;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .thank-you {
        @include blue-banner-top;
        padding: 20px 60px;
        p {
            text-align: center;
            padding: 0;
            font-size: $headerFontSize;
            line-height: $headerFontSize;
            margin: 0px;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .text-me {
        margin-top: 0;
        background: #fff;
        border: 0;
        height: auto;
        span {
            &.sms {
                color: #666;
                display: block;
            }
            i {
                color: #666;
            }
        }
        .ui-btn-inner {
            padding: 10px 75px 10px 0;
        }
        .ui-btn-text {
            color: $medBlue;
            white-space: normal;
            line-height: 24px;
            text-transform: uppercase;
        }
    }
}
