@import url(jquery.mobile-1.3.0.css);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background: white; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "ThreeSix11Pro-ExLgt";
  src: url("../fonts/ThreeSix11Pro-036Exlig.otf");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal; }

@font-face {
  font-family: "ThreeSix11Pro-Thin";
  src: url("../fonts/ThreeSix11Pro-018Thin.otf");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal; }

@font-face {
  font-family: "ThreeSix11Pro-Reg";
  src: url("../fonts/ThreeSix11Pro-072Reg.otf");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal; }

@font-face {
  font-family: "ThreeSix11Pro-Med";
  src: url("../fonts/ThreeSix11Pro-090Medi.otf");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal; }

@font-face {
  font-family: "ThreeSix11Pro-Bold";
  src: url("../fonts/ThreeSix11Pro-108Bold.otf");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal; }

div[data-role="page"].login-content-wrapper {
  background: #5b9ad3 url("../images/blue_stripe.png"); }
  div[data-role="page"].login-content-wrapper .ui-content {
    padding: 0px; }

.login-content {
  padding: 15px; }
  .login-content h1 {
    color: #fff;
    font-size: 70px;
    text-align: right;
    height: 250px; }
  .login-content .tos {
    width: 350px;
    margin: 0 auto;
    color: #FFF;
    font-size: 12px;
    text-align: center; }
  .login-content .tos a {
    color: #FFF; }
  .login-content .tos a:hover {
    color: #EEE; }
  .login-content .tos a:visited {
    color: #FFF; }

#login-email div[data-role="content"] {
  padding: 15px 10px 0; }
  #login-email div[data-role="content"] div.ui-input-text {
    margin: 0px;
    margin-top: 0px;
    padding: 0;
    background: transparent;
    border-left: 4px solid #5678bb; }
    #login-email div[data-role="content"] div.ui-input-text input {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      background: #fff;
      font-size: 16px;
      width: 98%;
      height: 56px;
      margin: 0;
      padding-left: 2%;
      margin-bottom: 10px; }
#login-email div[data-role="footer"] {
  padding: 0; }
  #login-email div[data-role="footer"] > div {
    padding: 5px 10px; }

#navigation-footer-wrapper.single-btn .ui-block-a {
  width: 100%; }
  #navigation-footer-wrapper.single-btn .ui-block-a a[data-role="button"].back {
    margin-left: 0;
    margin-right: 0; }
#navigation-footer-wrapper.single-btn .ui-block-b {
  display: none; }

#login-email .instructions {
  padding-bottom: 15px;
  color: #5A5A59; }
#login-email #profile-avatar {
  padding-left: 0;
  padding-right: 7px; }
  #login-email #profile-avatar a[data-role="button"] {
    border: 0;
    display: block;
    float: right;
    clear: right;
    margin: 2px 0 0;
    width: 160px;
    height: 44px; }
    #login-email #profile-avatar a[data-role="button"] .ui-btn-inner {
      background: #5678bb;
      padding: 0 40px 0 7px; }
    #login-email #profile-avatar a[data-role="button"] .ui-btn-text {
      text-align: left;
      line-height: 44px; }
    #login-email #profile-avatar a[data-role="button"]#edit-profile-btn .ui-btn-inner {
      background: #5678bb url("../images/icon-profile.svg") no-repeat 95% 50%; }
    #login-email #profile-avatar a[data-role="button"]#remove-img-btn {
      margin-top: 10px; }
      #login-email #profile-avatar a[data-role="button"]#remove-img-btn .ui-btn-inner {
        background: #5678bb url("../images/icon-close.svg") no-repeat 95% 50%; }
#login-email form {
  clear: both; }
  #login-email form fieldset {
    margin: 15px 0 0; }
  #login-email form legend {
    color: #5A5A59;
    margin: 0;
    padding: 0 0 7px; }
#login-email #gender-selector fieldset label {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  color: #fff;
  background: #cbcbcb;
  border: 0; }
  #login-email #gender-selector fieldset label .ui-btn-inner {
    border: 0; }
#login-email #gender-selector fieldset .ui-input-text {
  padding: 0;
  margin: 0; }
#login-email #gender-selector fieldset .ui-radio-on {
  background: #5678bb; }
#login-email #nationality-selector {
  clear: both; }
  #login-email #nationality-selector legend {
    padding-left: 20px; }
  #login-email #nationality-selector .ui-select {
    margin: 0;
    padding: 0;
    background: #989898;
    width: 100%; }
    #login-email #nationality-selector .ui-select div {
      background: #5678bb;
      border: 0;
      color: #fff;
      height: 35px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0; }
  #login-email #nationality-selector .ui-icon-arrow-d {
    background: url("../images/arrow-white-right.svg") no-repeat;
    background-size: 16px 16px;
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 23px;
    margin-top: -6px; }

#welcome-wrapper .message {
  background: #fff;
  padding: 10px;
  margin: 10px 0; }
  #welcome-wrapper .message p {
    color: #000; }
  #welcome-wrapper .message p:nth-child(odd) {
    color: #5678bb; }

div[data-role="panel"] {
  background: #cbcbcb;
  /*
   * Hacky way to highlight menu items
   */ }
  div[data-role="panel"] ul[data-role="listview"] li {
    border-color: #7b7b7b;
    text-transform: uppercase; }
    div[data-role="panel"] ul[data-role="listview"] li .ui-btn-inner {
      border: 0; }
      div[data-role="panel"] ul[data-role="listview"] li .ui-btn-inner .ui-icon {
        border-radius: 0;
        box-shadow: none; }
      div[data-role="panel"] ul[data-role="listview"] li .ui-btn-inner .ui-icon-arrow-r {
        background: url("../images/arrow-white-right.svg");
        width: 30px;
        height: 30px;
        margin-top: -13px;
        right: 13px; }
      div[data-role="panel"] ul[data-role="listview"] li .ui-btn-inner .ui-icon-help {
        background: url("../images/icon-question-mark-2.svg");
        width: 9px;
        height: 18px;
        margin-top: -8px;
        right: 23px; }
      div[data-role="panel"] ul[data-role="listview"] li .ui-btn-inner .ui-icon-profile {
        background: url("../images/icon-profile.svg");
        width: 16px;
        height: 16px;
        margin-top: -7px;
        right: 19px; }
      div[data-role="panel"] ul[data-role="listview"] li .ui-btn-inner .ui-icon-logout {
        background: url("../images/icon-close.svg");
        width: 13px;
        height: 15px;
        margin-top: -7px;
        right: 20px; }
  div[data-role="panel"] ul[data-role="listview"] li[data-role="list-divider"][data-theme="a"] {
    background: url("../images/grey_stripe.png");
    padding: 2.5em 15px; }
  div[data-role="panel"] ul[data-role="listview"] li[data-theme="a"],
  div[data-role="panel"] ul[data-role="listview"] li[data-theme="b"] {
    background: #a3a3a3; }
    div[data-role="panel"] ul[data-role="listview"] li[data-theme="a"].orange,
    div[data-role="panel"] ul[data-role="listview"] li[data-theme="b"].orange {
      background: #f28d00 !important; }
      div[data-role="panel"] ul[data-role="listview"] li[data-theme="a"].orange .ui-btn-text a,
      div[data-role="panel"] ul[data-role="listview"] li[data-theme="b"].orange .ui-btn-text a {
        color: white !important; }
    div[data-role="panel"] ul[data-role="listview"] li[data-theme="a"] .ui-btn-text a,
    div[data-role="panel"] ul[data-role="listview"] li[data-theme="b"] .ui-btn-text a {
      color: #e5e5e5;
      font-family: "ThreeSix11Pro-Reg";
      font-size: 16px;
      padding: 1.55em 1em; }
  div[data-role="panel"] ul[data-role="listview"] li[data-theme="c"] {
    background: #a3a3a3; }
    div[data-role="panel"] ul[data-role="listview"] li[data-theme="c"] .ui-btn-text a {
      color: #e5e5e5;
      padding: .65em 15px;
      font-family: "ThreeSix11Pro-Reg"; }
  div[data-role="panel"][data-active-section="explore"] ul[data-role="listview"] li[data-section="explore"] {
    background: #e5e5e5;
    box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    z-index: 2; }
    div[data-role="panel"][data-active-section="explore"] ul[data-role="listview"] li[data-section="explore"] .ui-btn-text a {
      color: #767676; }
    div[data-role="panel"][data-active-section="explore"] ul[data-role="listview"] li[data-section="explore"] .ui-btn-inner {
      border: 0; }
      div[data-role="panel"][data-active-section="explore"] ul[data-role="listview"] li[data-section="explore"] .ui-btn-inner .ui-icon-arrow-r {
        background: url("../images/arrow-blue-right.svg"); }
  div[data-role="panel"][data-active-section="design"] ul[data-role="listview"] li[data-section="design"] {
    background: #e5e5e5;
    box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    z-index: 2; }
    div[data-role="panel"][data-active-section="design"] ul[data-role="listview"] li[data-section="design"] .ui-btn-text a {
      color: #767676; }
    div[data-role="panel"][data-active-section="design"] ul[data-role="listview"] li[data-section="design"] .ui-btn-inner {
      border: 0; }
      div[data-role="panel"][data-active-section="design"] ul[data-role="listview"] li[data-section="design"] .ui-btn-inner .ui-icon-arrow-r {
        background: url("../images/arrow-blue-right.svg"); }
  div[data-role="panel"][data-active-section="suggestions"] ul[data-role="listview"] li[data-section="suggestions"] {
    background: #e5e5e5;
    box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    z-index: 2; }
    div[data-role="panel"][data-active-section="suggestions"] ul[data-role="listview"] li[data-section="suggestions"] .ui-btn-text a {
      color: #767676; }
    div[data-role="panel"][data-active-section="suggestions"] ul[data-role="listview"] li[data-section="suggestions"] .ui-btn-inner {
      border: 0; }
      div[data-role="panel"][data-active-section="suggestions"] ul[data-role="listview"] li[data-section="suggestions"] .ui-btn-inner .ui-icon-arrow-r {
        background: url("../images/arrow-blue-right.svg"); }
  div[data-role="panel"][data-active-section="recipes"] ul[data-role="listview"] li[data-section="recipes"] {
    background: #e5e5e5;
    box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 8px RGBA(0, 0, 0, 0.5);
    z-index: 2; }
    div[data-role="panel"][data-active-section="recipes"] ul[data-role="listview"] li[data-section="recipes"] .ui-btn-text a {
      color: #767676; }
    div[data-role="panel"][data-active-section="recipes"] ul[data-role="listview"] li[data-section="recipes"] .ui-btn-inner {
      border: 0; }
      div[data-role="panel"][data-active-section="recipes"] ul[data-role="listview"] li[data-section="recipes"] .ui-btn-inner .ui-icon-arrow-r {
        background: url("../images/arrow-blue-right.svg"); }

#ingredients-content-wrapper {
  position: relative;
  margin-bottom: 12px;
  padding: 0; }
  #ingredients-content-wrapper ul {
    margin: 0; }

.ui-mobile [data-role=page].ui-page.ui-page-footer-fixed {
  padding-bottom: 48px; }

#drink-progress-wrapper {
  padding: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 24px;
  width: 100%;
  background: #fff;
  text-align: center;
  color: #000;
  font-size: 16px;
  position: relative; }
  #drink-progress-wrapper #progress-bar {
    height: 24px;
    position: absolute;
    top: 4px;
    left: 0px;
    background: #cbcbcb url("../images/orange_stripe.png"); }
  #drink-progress-wrapper #progress-text {
    position: absolute;
    width: 100%;
    line-height: 24px;
    font-size: 18px; }

#strain-bar {
  border-bottom: 1px solid #a3a3a3;
  border-top: 1px solid #a3a3a3;
  margin-bottom: 10px; }
  #strain-bar a span.ui-btn-inner {
    padding: 0px; }
  #strain-bar a span.ui-btn-text {
    background: #cbcbcb url("../images/grey_stripe.png");
    text-align: center;
    color: #000;
    margin: 0px;
    padding-left: 0px;
    font-size: 16px;
    border-right: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3; }
  #strain-bar a.selected span.ui-btn-text {
    background: #7f7f7f;
    color: #FFF;
    border-right: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3; }

#actions-bar {
  margin-bottom: 10px;
  border-bottom: 1px solid #a3a3a3;
  border-top: 1px solid #a3a3a3;
    /*a {
        margin: 0px;
        width: 25%;
        float: left;
        height: 44px;
        line-height: 44px;
        border-left: 2px solid $ingredientMenuLgtGray;

        cursor: pointer;
        &:first-child {
            border-left: 0;
        }
    }

    span.ui-btn-text {
        text-align: center;

        line-height: 44px;
        padding: 0px;
    }*/ }
  #actions-bar a span.ui-btn-inner {
    padding: 0px; }
  #actions-bar a span.ui-btn-text {
    background: #cbcbcb url("../images/grey_stripe.png");
    text-align: center;
    color: #000;
    margin: 0px;
    padding-left: 0px;
    font-size: 16px;
    border-right: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3; }
  #actions-bar a.selected span.ui-btn-text {
    background: #7f7f7f;
    color: #FFF;
    border-right: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3; }

div[data-role="navbar"] ul.ui-grid-c {
  background: #cbcbcb; }
  div[data-role="navbar"] ul.ui-grid-c li {
    width: auto;
    border: 0;
    background: #000; }
    div[data-role="navbar"] ul.ui-grid-c li a {
      border-width: 0 0 0 1px; }
  div[data-role="navbar"] ul.ui-grid-c li:first-child .ui-btn-active {
    border-left: 0; }
div[data-role="navbar"] .ui-btn-inner {
  font-size: 18px;
  padding: 1em 2em;
  border: 0; }
div[data-role="navbar"] .ui-btn-txt {
  text-shadow: none;
  font-family: "ThreeSix11Pro-Reg"; }
div[data-role="navbar"] .ui-btn-active {
  background: #ececec;
  border: 1px solid #ececec;
  border-right: 1px solid #a3a3a3;
  border-left: 1px solid #a3a3a3; }
  div[data-role="navbar"] .ui-btn-active .ui-btn-inner {
    border-bottom: 1px solid #ececec;
    margin-bottom: -1px; }
  div[data-role="navbar"] .ui-btn-active .ui-btn-text {
    color: #000; }

#wave-wrapper {
  margin-right: 12px;
  margin-left: 12px; }
  #wave-wrapper #waveCanvas {
    position: absolute;
    bottom: 0px;
    overflow: hidden; }

.small-instructions {
  /*background: #FFF;
  height: 32px;
  line-height: 32px;*/
  padding: 6px;
  color: #fff;
  background: #5678bb;
  font-family: "ThreeSix11Pro-Reg";
  text-transform: uppercase; }
  .small-instructions p {
    font-size: 18px;
    line-height: 18px;
    text-align: center; }

.small-instructions-2 {
  margin-top: 0px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background: #FFF;
  height: 32px;
  line-height: 32px; }
  .small-instructions-2 p {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    margin: 0 auto;
    text-align: center; }

#instructions p {
  color: #666;
  width: 260px;
  padding: 1.5em 0;
  font-size: 32px;
  margin: 0 auto;
  text-align: center; }

.no-padding {
  padding: 0px; }

#scroll-wrapper, .action-scroll-wrapper {
  height: 114px;
  width: 100%;
  background: #fff;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0px; }

.action-scroll-wrapper {
  height: 2.75em;
  width: auto;
  background: #fff;
  margin: 0px;
  padding: 0px;
  margin-left: 50px;
  overflow: hidden; }

#scroll-view {
  /* set scroll width extra large so we're guaranteed to initialize with horizontal */
  width: 9999px;
  height: 114px;
  padding: 0px;
  margin: 0px; }
  #scroll-view ul {
    list-style: none;
    display: block;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left; }
    #scroll-view ul li {
      background: url("../images/hexagon-blue-half.svg") no-repeat 31px 6px;
      text-align: center;
      background-size: 30px 30px;
      float: left;
      border-left: 2px solid #e6e6e6;
      padding: 4px;
      width: 85px;
      height: 102px;
      margin: 4px 0 0px 0px;
      cursor: pointer; }
      #scroll-view ul li:first-child {
        border-left: 0; }
      #scroll-view ul li p {
        font-size: 16px;
        margin-top: 36px;
        color: #000; }
      #scroll-view ul li a {
        margin-top: auto;
        font-size: 16px;
        color: #000;
        margin-bottom: auto; }
      #scroll-view ul li:active {
        background-color: #cbcbcb; }
      #scroll-view ul li.type-1 {
        background: url("../images/hexagon-gray-quarter.svg") no-repeat 31px 6px;
        background-size: 30px 30px;
        border-left: 2px solid #e6e6e6; }
      #scroll-view ul li.type-2 {
        background: url("../images/hexagon-red-half.svg") no-repeat 31px 6px;
        background-size: 30px 30px; }
      #scroll-view ul li.type-3 {
        background: url("../images/hexagon-blue-half.svg") no-repeat 31px 6px;
        background-size: 30px 30px; }
      #scroll-view ul li.type-4 {
        background: url("../images/hexagon-orange-half.svg") no-repeat 31px 6px;
        background-size: 30px 30px; }
      #scroll-view ul li.type-5 {
        background: url("../images/hexagon-green-half.svg") no-repeat 31px 6px;
        background-size: 30px 30px; }

#types-scroll-view {
  /* set scroll width extra large so we're guaranteed to initialize with horizontal */
  width: 9999px;
  height: 100%;
  padding: 0px;
  margin: 0px; }
  #types-scroll-view ul {
    background: #FFF;
    list-style: none;
    display: block;
    float: left;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    border-bottom: 1px solid #a3a3a3; }
    #types-scroll-view ul li {
      background: #cbcbcb url("../images/grey_stripe.png");
      float: left;
      width: 140px;
      line-height: 60px;
      border-right: 1px solid #a3a3a3;
      padding: 0 5px;
      margin: 0;
      cursor: pointer; }
      #types-scroll-view ul li p {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: #000; }
      #types-scroll-view ul li a {
        margin-top: auto;
        font-size: 16px;
        color: #000;
        margin-bottom: auto; }
      #types-scroll-view ul li.selected {
        background: #FFF;
        border-bottom: 1px solid #fff; }
      #types-scroll-view ul li:active {
        background: #cbcbcb; }

.action-scroll-view {
  /* set scroll width extra large so we're guaranteed to initialize with horizontal */
  width: 9999px;
  height: 100%;
  padding: 0px;
  margin: 0px; }
  .action-scroll-view ul {
    background: #cbcbcb url("../images/grey_stripe.png");
    list-style: none;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
    border-bottom: 1px solid #a3a3a3; }
    .action-scroll-view ul li {
      background: #cbcbcb url("../images/grey_stripe.png");
      float: left;
      border-right: 1px solid #a3a3a3;
      padding: 14px 15px;
      margin: 0;
      cursor: pointer; }
      .action-scroll-view ul li p.ui-li-desc {
        font-size: 16px;
        text-align: center;
        margin: 0px; }
      .action-scroll-view ul li a, .action-scroll-view ul li .ui-link, .action-scroll-view ul li a.ui-link {
        font-weight: normal;
        margin-top: auto;
        font-size: 16px;
        color: #000;
        margin-bottom: auto; }
      .action-scroll-view ul li.selected {
        background: #FFF;
        border-bottom: 1px solid #fff; }
      .action-scroll-view ul li:active {
        background-color: #cbcbcb; }

#ingredients-navbar li {
  margin-left: auto;
  margin-right: auto; }

.ingredient-controls {
  margin: 0;
  float: right;
  height: 30px;
  position: relative;
  padding: 0;
  width: 80px;
  line-height: 48px; }

#ingredients-list, #steps-list, #ingredients-list-wrapper, #drinks-list, #action-steps-list, #explore-table-list {
  margin: 0;
  width: 100%; }
  #ingredients-list .tickmark-container, #steps-list .tickmark-container, #ingredients-list-wrapper .tickmark-container, #drinks-list .tickmark-container, #action-steps-list .tickmark-container, #explore-table-list .tickmark-container {
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0px;
    background: url("../images/grey-transparent.png"); }
    #ingredients-list .tickmark-container.ui-last-child, #steps-list .tickmark-container.ui-last-child, #ingredients-list-wrapper .tickmark-container.ui-last-child, #drinks-list .tickmark-container.ui-last-child, #action-steps-list .tickmark-container.ui-last-child, #explore-table-list .tickmark-container.ui-last-child {
      display: none; }
      #ingredients-list .tickmark-container.ui-last-child .tickmark, #steps-list .tickmark-container.ui-last-child .tickmark, #ingredients-list-wrapper .tickmark-container.ui-last-child .tickmark, #drinks-list .tickmark-container.ui-last-child .tickmark, #action-steps-list .tickmark-container.ui-last-child .tickmark, #explore-table-list .tickmark-container.ui-last-child .tickmark {
        display: none; }
  #ingredients-list .tickmark, #steps-list .tickmark, #ingredients-list-wrapper .tickmark, #drinks-list .tickmark, #action-steps-list .tickmark, #explore-table-list .tickmark {
    width: 50px;
    background: #FFF;
    height: 1px; }
  #ingredients-list .ui-btn-up-c, #steps-list .ui-btn-up-c, #ingredients-list-wrapper .ui-btn-up-c, #drinks-list .ui-btn-up-c, #action-steps-list .ui-btn-up-c, #explore-table-list .ui-btn-up-c {
    border: 0px;
    border-width: 0px; }
  #ingredients-list .added-ingredient, #ingredients-list .drink, #steps-list .added-ingredient, #steps-list .drink, #ingredients-list-wrapper .added-ingredient, #ingredients-list-wrapper .drink, #drinks-list .added-ingredient, #drinks-list .drink, #action-steps-list .added-ingredient, #action-steps-list .drink, #explore-table-list .added-ingredient, #explore-table-list .drink {
    border-left: 0px;
    border-right: 0px;
    border: 0px;
    clear: both;
    padding: 1px;
    height: 2.75em;
    margin-right: 12px;
    margin-left: 12px;
    background: url("../images/grey-transparent.png");
    color: #FFF; }
    #ingredients-list .added-ingredient .ui-btn-inner.ui-li, #ingredients-list .drink .ui-btn-inner.ui-li, #steps-list .added-ingredient .ui-btn-inner.ui-li, #steps-list .drink .ui-btn-inner.ui-li, #ingredients-list-wrapper .added-ingredient .ui-btn-inner.ui-li, #ingredients-list-wrapper .drink .ui-btn-inner.ui-li, #drinks-list .added-ingredient .ui-btn-inner.ui-li, #drinks-list .drink .ui-btn-inner.ui-li, #action-steps-list .added-ingredient .ui-btn-inner.ui-li, #action-steps-list .drink .ui-btn-inner.ui-li, #explore-table-list .added-ingredient .ui-btn-inner.ui-li, #explore-table-list .drink .ui-btn-inner.ui-li {
      border: 0px; }
    #ingredients-list .added-ingredient .ui-btn-text a, #ingredients-list .drink .ui-btn-text a, #steps-list .added-ingredient .ui-btn-text a, #steps-list .drink .ui-btn-text a, #ingredients-list-wrapper .added-ingredient .ui-btn-text a, #ingredients-list-wrapper .drink .ui-btn-text a, #drinks-list .added-ingredient .ui-btn-text a, #drinks-list .drink .ui-btn-text a, #action-steps-list .added-ingredient .ui-btn-text a, #action-steps-list .drink .ui-btn-text a, #explore-table-list .added-ingredient .ui-btn-text a, #explore-table-list .drink .ui-btn-text a {
      color: #FFF; }
    #ingredients-list .added-ingredient .ingredient-controls, #ingredients-list .drink .ingredient-controls, #steps-list .added-ingredient .ingredient-controls, #steps-list .drink .ingredient-controls, #ingredients-list-wrapper .added-ingredient .ingredient-controls, #ingredients-list-wrapper .drink .ingredient-controls, #drinks-list .added-ingredient .ingredient-controls, #drinks-list .drink .ingredient-controls, #action-steps-list .added-ingredient .ingredient-controls, #action-steps-list .drink .ingredient-controls, #explore-table-list .added-ingredient .ingredient-controls, #explore-table-list .drink .ingredient-controls {
      width: 140px;
      margin-right: 5px; }
    #ingredients-list .added-ingredient .ui-grid-b, #ingredients-list .drink .ui-grid-b, #steps-list .added-ingredient .ui-grid-b, #steps-list .drink .ui-grid-b, #ingredients-list-wrapper .added-ingredient .ui-grid-b, #ingredients-list-wrapper .drink .ui-grid-b, #drinks-list .added-ingredient .ui-grid-b, #drinks-list .drink .ui-grid-b, #action-steps-list .added-ingredient .ui-grid-b, #action-steps-list .drink .ui-grid-b, #explore-table-list .added-ingredient .ui-grid-b, #explore-table-list .drink .ui-grid-b {
      height: 100%;
      padding-left: 45px; }
    #ingredients-list .added-ingredient .ui-li-heading, #ingredients-list .drink .ui-li-heading, #steps-list .added-ingredient .ui-li-heading, #steps-list .drink .ui-li-heading, #ingredients-list-wrapper .added-ingredient .ui-li-heading, #ingredients-list-wrapper .drink .ui-li-heading, #drinks-list .added-ingredient .ui-li-heading, #drinks-list .drink .ui-li-heading, #action-steps-list .added-ingredient .ui-li-heading, #action-steps-list .drink .ui-li-heading, #explore-table-list .added-ingredient .ui-li-heading, #explore-table-list .drink .ui-li-heading {
      color: #FFF;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 14px;
      font-weight: normal;
      margin: 0;
      padding: 8px;
      white-space: normal;
      background: #FFF;
      color: #000; }
    #ingredients-list .added-ingredient a[data-role="button"], #ingredients-list .drink a[data-role="button"], #steps-list .added-ingredient a[data-role="button"], #steps-list .drink a[data-role="button"], #ingredients-list-wrapper .added-ingredient a[data-role="button"], #ingredients-list-wrapper .drink a[data-role="button"], #drinks-list .added-ingredient a[data-role="button"], #drinks-list .drink a[data-role="button"], #action-steps-list .added-ingredient a[data-role="button"], #action-steps-list .drink a[data-role="button"], #explore-table-list .added-ingredient a[data-role="button"], #explore-table-list .drink a[data-role="button"] {
      background: rgba(153, 153, 153, 0.5);
      padding: 0;
      width: 30px;
      height: 30px; }
      #ingredients-list .added-ingredient a[data-role="button"] .ui-btn-text, #ingredients-list .drink a[data-role="button"] .ui-btn-text, #steps-list .added-ingredient a[data-role="button"] .ui-btn-text, #steps-list .drink a[data-role="button"] .ui-btn-text, #ingredients-list-wrapper .added-ingredient a[data-role="button"] .ui-btn-text, #ingredients-list-wrapper .drink a[data-role="button"] .ui-btn-text, #drinks-list .added-ingredient a[data-role="button"] .ui-btn-text, #drinks-list .drink a[data-role="button"] .ui-btn-text, #action-steps-list .added-ingredient a[data-role="button"] .ui-btn-text, #action-steps-list .drink a[data-role="button"] .ui-btn-text, #explore-table-list .added-ingredient a[data-role="button"] .ui-btn-text, #explore-table-list .drink a[data-role="button"] .ui-btn-text {
        padding: 0; }
      #ingredients-list .added-ingredient a[data-role="button"][data-icon="delete"], #ingredients-list .drink a[data-role="button"][data-icon="delete"], #steps-list .added-ingredient a[data-role="button"][data-icon="delete"], #steps-list .drink a[data-role="button"][data-icon="delete"], #ingredients-list-wrapper .added-ingredient a[data-role="button"][data-icon="delete"], #ingredients-list-wrapper .drink a[data-role="button"][data-icon="delete"], #drinks-list .added-ingredient a[data-role="button"][data-icon="delete"], #drinks-list .drink a[data-role="button"][data-icon="delete"], #action-steps-list .added-ingredient a[data-role="button"][data-icon="delete"], #action-steps-list .drink a[data-role="button"][data-icon="delete"], #explore-table-list .added-ingredient a[data-role="button"][data-icon="delete"], #explore-table-list .drink a[data-role="button"][data-icon="delete"] {
        margin: 6px 0;
        background: rgba(153, 153, 153, 0.5);
        margin-left: 6px; }
      #ingredients-list .added-ingredient a[data-role="button"].ui-btn-down-c, #ingredients-list .drink a[data-role="button"].ui-btn-down-c, #steps-list .added-ingredient a[data-role="button"].ui-btn-down-c, #steps-list .drink a[data-role="button"].ui-btn-down-c, #ingredients-list-wrapper .added-ingredient a[data-role="button"].ui-btn-down-c, #ingredients-list-wrapper .drink a[data-role="button"].ui-btn-down-c, #drinks-list .added-ingredient a[data-role="button"].ui-btn-down-c, #drinks-list .drink a[data-role="button"].ui-btn-down-c, #action-steps-list .added-ingredient a[data-role="button"].ui-btn-down-c, #action-steps-list .drink a[data-role="button"].ui-btn-down-c, #explore-table-list .added-ingredient a[data-role="button"].ui-btn-down-c, #explore-table-list .drink a[data-role="button"].ui-btn-down-c {
        background-color: #cbcbcb !important; }
    #ingredients-list .added-ingredient .ui-block-a, #ingredients-list .drink .ui-block-a, #steps-list .added-ingredient .ui-block-a, #steps-list .drink .ui-block-a, #ingredients-list-wrapper .added-ingredient .ui-block-a, #ingredients-list-wrapper .drink .ui-block-a, #drinks-list .added-ingredient .ui-block-a, #drinks-list .drink .ui-block-a, #action-steps-list .added-ingredient .ui-block-a, #action-steps-list .drink .ui-block-a, #explore-table-list .added-ingredient .ui-block-a, #explore-table-list .drink .ui-block-a {
      border-left: 4px solid #5678bb;
      height: 100%; }
    #ingredients-list .added-ingredient.type-1, #ingredients-list .drink.type-1, #steps-list .added-ingredient.type-1, #steps-list .drink.type-1, #ingredients-list-wrapper .added-ingredient.type-1, #ingredients-list-wrapper .drink.type-1, #drinks-list .added-ingredient.type-1, #drinks-list .drink.type-1, #action-steps-list .added-ingredient.type-1, #action-steps-list .drink.type-1, #explore-table-list .added-ingredient.type-1, #explore-table-list .drink.type-1 {
      background-image: url("../images/grey-stripe-pattern-50.png"); }
      #ingredients-list .added-ingredient.type-1 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .added-ingredient.type-1 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .added-ingredient.type-1 a[data-icon="plus"] .ui-btn-inner, #ingredients-list .drink.type-1 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .drink.type-1 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .drink.type-1 a[data-icon="plus"] .ui-btn-inner, #steps-list .added-ingredient.type-1 a[data-icon="delete"] .ui-btn-inner, #steps-list .added-ingredient.type-1 a[data-icon="minus"] .ui-btn-inner, #steps-list .added-ingredient.type-1 a[data-icon="plus"] .ui-btn-inner, #steps-list .drink.type-1 a[data-icon="delete"] .ui-btn-inner, #steps-list .drink.type-1 a[data-icon="minus"] .ui-btn-inner, #steps-list .drink.type-1 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-1 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-1 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-1 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-1 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-1 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-1 a[data-icon="plus"] .ui-btn-inner, #drinks-list .added-ingredient.type-1 a[data-icon="delete"] .ui-btn-inner, #drinks-list .added-ingredient.type-1 a[data-icon="minus"] .ui-btn-inner, #drinks-list .added-ingredient.type-1 a[data-icon="plus"] .ui-btn-inner, #drinks-list .drink.type-1 a[data-icon="delete"] .ui-btn-inner, #drinks-list .drink.type-1 a[data-icon="minus"] .ui-btn-inner, #drinks-list .drink.type-1 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-1 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .added-ingredient.type-1 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-1 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .drink.type-1 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .drink.type-1 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .drink.type-1 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-1 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .added-ingredient.type-1 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-1 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .drink.type-1 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .drink.type-1 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .drink.type-1 a[data-icon="plus"] .ui-btn-inner {
        background: #999999; }
      #ingredients-list .added-ingredient.type-1 .ui-block-a, #ingredients-list .drink.type-1 .ui-block-a, #steps-list .added-ingredient.type-1 .ui-block-a, #steps-list .drink.type-1 .ui-block-a, #ingredients-list-wrapper .added-ingredient.type-1 .ui-block-a, #ingredients-list-wrapper .drink.type-1 .ui-block-a, #drinks-list .added-ingredient.type-1 .ui-block-a, #drinks-list .drink.type-1 .ui-block-a, #action-steps-list .added-ingredient.type-1 .ui-block-a, #action-steps-list .drink.type-1 .ui-block-a, #explore-table-list .added-ingredient.type-1 .ui-block-a, #explore-table-list .drink.type-1 .ui-block-a {
        border-left: 4px solid #999999; }
    #ingredients-list .added-ingredient.type-2, #ingredients-list .drink.type-2, #steps-list .added-ingredient.type-2, #steps-list .drink.type-2, #ingredients-list-wrapper .added-ingredient.type-2, #ingredients-list-wrapper .drink.type-2, #drinks-list .added-ingredient.type-2, #drinks-list .drink.type-2, #action-steps-list .added-ingredient.type-2, #action-steps-list .drink.type-2, #explore-table-list .added-ingredient.type-2, #explore-table-list .drink.type-2 {
      background-image: url("../images/red-stripe-pattern-50.png"); }
      #ingredients-list .added-ingredient.type-2 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .added-ingredient.type-2 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .added-ingredient.type-2 a[data-icon="plus"] .ui-btn-inner, #ingredients-list .drink.type-2 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .drink.type-2 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .drink.type-2 a[data-icon="plus"] .ui-btn-inner, #steps-list .added-ingredient.type-2 a[data-icon="delete"] .ui-btn-inner, #steps-list .added-ingredient.type-2 a[data-icon="minus"] .ui-btn-inner, #steps-list .added-ingredient.type-2 a[data-icon="plus"] .ui-btn-inner, #steps-list .drink.type-2 a[data-icon="delete"] .ui-btn-inner, #steps-list .drink.type-2 a[data-icon="minus"] .ui-btn-inner, #steps-list .drink.type-2 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-2 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-2 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-2 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-2 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-2 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-2 a[data-icon="plus"] .ui-btn-inner, #drinks-list .added-ingredient.type-2 a[data-icon="delete"] .ui-btn-inner, #drinks-list .added-ingredient.type-2 a[data-icon="minus"] .ui-btn-inner, #drinks-list .added-ingredient.type-2 a[data-icon="plus"] .ui-btn-inner, #drinks-list .drink.type-2 a[data-icon="delete"] .ui-btn-inner, #drinks-list .drink.type-2 a[data-icon="minus"] .ui-btn-inner, #drinks-list .drink.type-2 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-2 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .added-ingredient.type-2 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-2 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .drink.type-2 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .drink.type-2 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .drink.type-2 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-2 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .added-ingredient.type-2 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-2 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .drink.type-2 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .drink.type-2 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .drink.type-2 a[data-icon="plus"] .ui-btn-inner {
        background: #a60016; }
      #ingredients-list .added-ingredient.type-2 .ui-block-a, #ingredients-list .drink.type-2 .ui-block-a, #steps-list .added-ingredient.type-2 .ui-block-a, #steps-list .drink.type-2 .ui-block-a, #ingredients-list-wrapper .added-ingredient.type-2 .ui-block-a, #ingredients-list-wrapper .drink.type-2 .ui-block-a, #drinks-list .added-ingredient.type-2 .ui-block-a, #drinks-list .drink.type-2 .ui-block-a, #action-steps-list .added-ingredient.type-2 .ui-block-a, #action-steps-list .drink.type-2 .ui-block-a, #explore-table-list .added-ingredient.type-2 .ui-block-a, #explore-table-list .drink.type-2 .ui-block-a {
        border-left: 4px solid #a60016; }
    #ingredients-list .added-ingredient.type-3, #ingredients-list .drink.type-3, #steps-list .added-ingredient.type-3, #steps-list .drink.type-3, #ingredients-list-wrapper .added-ingredient.type-3, #ingredients-list-wrapper .drink.type-3, #drinks-list .added-ingredient.type-3, #drinks-list .drink.type-3, #action-steps-list .added-ingredient.type-3, #action-steps-list .drink.type-3, #explore-table-list .added-ingredient.type-3, #explore-table-list .drink.type-3 {
      background-image: url("../images/blue-stripe-pattern-50.png"); }
      #ingredients-list .added-ingredient.type-3 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .added-ingredient.type-3 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .added-ingredient.type-3 a[data-icon="plus"] .ui-btn-inner, #ingredients-list .drink.type-3 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .drink.type-3 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .drink.type-3 a[data-icon="plus"] .ui-btn-inner, #steps-list .added-ingredient.type-3 a[data-icon="delete"] .ui-btn-inner, #steps-list .added-ingredient.type-3 a[data-icon="minus"] .ui-btn-inner, #steps-list .added-ingredient.type-3 a[data-icon="plus"] .ui-btn-inner, #steps-list .drink.type-3 a[data-icon="delete"] .ui-btn-inner, #steps-list .drink.type-3 a[data-icon="minus"] .ui-btn-inner, #steps-list .drink.type-3 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-3 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-3 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-3 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-3 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-3 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-3 a[data-icon="plus"] .ui-btn-inner, #drinks-list .added-ingredient.type-3 a[data-icon="delete"] .ui-btn-inner, #drinks-list .added-ingredient.type-3 a[data-icon="minus"] .ui-btn-inner, #drinks-list .added-ingredient.type-3 a[data-icon="plus"] .ui-btn-inner, #drinks-list .drink.type-3 a[data-icon="delete"] .ui-btn-inner, #drinks-list .drink.type-3 a[data-icon="minus"] .ui-btn-inner, #drinks-list .drink.type-3 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-3 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .added-ingredient.type-3 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-3 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .drink.type-3 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .drink.type-3 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .drink.type-3 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-3 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .added-ingredient.type-3 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-3 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .drink.type-3 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .drink.type-3 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .drink.type-3 a[data-icon="plus"] .ui-btn-inner {
        background: #5678bb; }
      #ingredients-list .added-ingredient.type-3 .ui-block-a, #ingredients-list .drink.type-3 .ui-block-a, #steps-list .added-ingredient.type-3 .ui-block-a, #steps-list .drink.type-3 .ui-block-a, #ingredients-list-wrapper .added-ingredient.type-3 .ui-block-a, #ingredients-list-wrapper .drink.type-3 .ui-block-a, #drinks-list .added-ingredient.type-3 .ui-block-a, #drinks-list .drink.type-3 .ui-block-a, #action-steps-list .added-ingredient.type-3 .ui-block-a, #action-steps-list .drink.type-3 .ui-block-a, #explore-table-list .added-ingredient.type-3 .ui-block-a, #explore-table-list .drink.type-3 .ui-block-a {
        border-left: 4px solid #5678bb; }
    #ingredients-list .added-ingredient.type-4, #ingredients-list .drink.type-4, #steps-list .added-ingredient.type-4, #steps-list .drink.type-4, #ingredients-list-wrapper .added-ingredient.type-4, #ingredients-list-wrapper .drink.type-4, #drinks-list .added-ingredient.type-4, #drinks-list .drink.type-4, #action-steps-list .added-ingredient.type-4, #action-steps-list .drink.type-4, #explore-table-list .added-ingredient.type-4, #explore-table-list .drink.type-4 {
      background-image: url("../images/orange-stripe-pattern-50.png"); }
      #ingredients-list .added-ingredient.type-4 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .added-ingredient.type-4 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .added-ingredient.type-4 a[data-icon="plus"] .ui-btn-inner, #ingredients-list .drink.type-4 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .drink.type-4 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .drink.type-4 a[data-icon="plus"] .ui-btn-inner, #steps-list .added-ingredient.type-4 a[data-icon="delete"] .ui-btn-inner, #steps-list .added-ingredient.type-4 a[data-icon="minus"] .ui-btn-inner, #steps-list .added-ingredient.type-4 a[data-icon="plus"] .ui-btn-inner, #steps-list .drink.type-4 a[data-icon="delete"] .ui-btn-inner, #steps-list .drink.type-4 a[data-icon="minus"] .ui-btn-inner, #steps-list .drink.type-4 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-4 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-4 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-4 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-4 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-4 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-4 a[data-icon="plus"] .ui-btn-inner, #drinks-list .added-ingredient.type-4 a[data-icon="delete"] .ui-btn-inner, #drinks-list .added-ingredient.type-4 a[data-icon="minus"] .ui-btn-inner, #drinks-list .added-ingredient.type-4 a[data-icon="plus"] .ui-btn-inner, #drinks-list .drink.type-4 a[data-icon="delete"] .ui-btn-inner, #drinks-list .drink.type-4 a[data-icon="minus"] .ui-btn-inner, #drinks-list .drink.type-4 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-4 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .added-ingredient.type-4 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-4 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .drink.type-4 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .drink.type-4 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .drink.type-4 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-4 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .added-ingredient.type-4 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-4 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .drink.type-4 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .drink.type-4 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .drink.type-4 a[data-icon="plus"] .ui-btn-inner {
        background: #f28d00; }
      #ingredients-list .added-ingredient.type-4 .ui-block-a, #ingredients-list .drink.type-4 .ui-block-a, #steps-list .added-ingredient.type-4 .ui-block-a, #steps-list .drink.type-4 .ui-block-a, #ingredients-list-wrapper .added-ingredient.type-4 .ui-block-a, #ingredients-list-wrapper .drink.type-4 .ui-block-a, #drinks-list .added-ingredient.type-4 .ui-block-a, #drinks-list .drink.type-4 .ui-block-a, #action-steps-list .added-ingredient.type-4 .ui-block-a, #action-steps-list .drink.type-4 .ui-block-a, #explore-table-list .added-ingredient.type-4 .ui-block-a, #explore-table-list .drink.type-4 .ui-block-a {
        border-left: 4px solid #f28d00; }
    #ingredients-list .added-ingredient.type-5, #ingredients-list .drink.type-5, #steps-list .added-ingredient.type-5, #steps-list .drink.type-5, #ingredients-list-wrapper .added-ingredient.type-5, #ingredients-list-wrapper .drink.type-5, #drinks-list .added-ingredient.type-5, #drinks-list .drink.type-5, #action-steps-list .added-ingredient.type-5, #action-steps-list .drink.type-5, #explore-table-list .added-ingredient.type-5, #explore-table-list .drink.type-5 {
      background-image: url("../images/green-stripe-pattern-50.png"); }
      #ingredients-list .added-ingredient.type-5 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .added-ingredient.type-5 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .added-ingredient.type-5 a[data-icon="plus"] .ui-btn-inner, #ingredients-list .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #ingredients-list .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #ingredients-list .drink.type-5 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .drink.type-5 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .drink.type-5 a[data-icon="plus"] .ui-btn-inner, #ingredients-list .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #ingredients-list .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #steps-list .added-ingredient.type-5 a[data-icon="delete"] .ui-btn-inner, #steps-list .added-ingredient.type-5 a[data-icon="minus"] .ui-btn-inner, #steps-list .added-ingredient.type-5 a[data-icon="plus"] .ui-btn-inner, #steps-list .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #steps-list .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #steps-list .drink.type-5 a[data-icon="delete"] .ui-btn-inner, #steps-list .drink.type-5 a[data-icon="minus"] .ui-btn-inner, #steps-list .drink.type-5 a[data-icon="plus"] .ui-btn-inner, #steps-list .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #steps-list .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-5 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-5 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-5 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-5 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-5 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-5 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #drinks-list .added-ingredient.type-5 a[data-icon="delete"] .ui-btn-inner, #drinks-list .added-ingredient.type-5 a[data-icon="minus"] .ui-btn-inner, #drinks-list .added-ingredient.type-5 a[data-icon="plus"] .ui-btn-inner, #drinks-list .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #drinks-list .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #drinks-list .drink.type-5 a[data-icon="delete"] .ui-btn-inner, #drinks-list .drink.type-5 a[data-icon="minus"] .ui-btn-inner, #drinks-list .drink.type-5 a[data-icon="plus"] .ui-btn-inner, #drinks-list .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #drinks-list .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #action-steps-list .added-ingredient.type-5 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .added-ingredient.type-5 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-5 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #action-steps-list .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #action-steps-list .drink.type-5 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .drink.type-5 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .drink.type-5 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #action-steps-list .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #explore-table-list .added-ingredient.type-5 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .added-ingredient.type-5 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-5 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #explore-table-list .added-ingredient.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #explore-table-list .drink.type-5 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .drink.type-5 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .drink.type-5 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner, #explore-table-list .drink.type-5 a[data-icon="arrow-u"] .ui-btn-inner {
        background: #7fd35a; }
      #ingredients-list .added-ingredient.type-5 .ui-block-a, #ingredients-list .drink.type-5 .ui-block-a, #steps-list .added-ingredient.type-5 .ui-block-a, #steps-list .drink.type-5 .ui-block-a, #ingredients-list-wrapper .added-ingredient.type-5 .ui-block-a, #ingredients-list-wrapper .drink.type-5 .ui-block-a, #drinks-list .added-ingredient.type-5 .ui-block-a, #drinks-list .drink.type-5 .ui-block-a, #action-steps-list .added-ingredient.type-5 .ui-block-a, #action-steps-list .drink.type-5 .ui-block-a, #explore-table-list .added-ingredient.type-5 .ui-block-a, #explore-table-list .drink.type-5 .ui-block-a {
        border-left: 4px solid #7fd35a; }
    #ingredients-list .added-ingredient.type-6, #ingredients-list .drink.type-6, #steps-list .added-ingredient.type-6, #steps-list .drink.type-6, #ingredients-list-wrapper .added-ingredient.type-6, #ingredients-list-wrapper .drink.type-6, #drinks-list .added-ingredient.type-6, #drinks-list .drink.type-6, #action-steps-list .added-ingredient.type-6, #action-steps-list .drink.type-6, #explore-table-list .added-ingredient.type-6, #explore-table-list .drink.type-6 {
      background-image: url("../images/blue-stripe-pattern-50.png"); }
      #ingredients-list .added-ingredient.type-6 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .added-ingredient.type-6 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .added-ingredient.type-6 a[data-icon="plus"] .ui-btn-inner, #ingredients-list .drink.type-6 a[data-icon="delete"] .ui-btn-inner, #ingredients-list .drink.type-6 a[data-icon="minus"] .ui-btn-inner, #ingredients-list .drink.type-6 a[data-icon="plus"] .ui-btn-inner, #steps-list .added-ingredient.type-6 a[data-icon="delete"] .ui-btn-inner, #steps-list .added-ingredient.type-6 a[data-icon="minus"] .ui-btn-inner, #steps-list .added-ingredient.type-6 a[data-icon="plus"] .ui-btn-inner, #steps-list .drink.type-6 a[data-icon="delete"] .ui-btn-inner, #steps-list .drink.type-6 a[data-icon="minus"] .ui-btn-inner, #steps-list .drink.type-6 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-6 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-6 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .added-ingredient.type-6 a[data-icon="plus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-6 a[data-icon="delete"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-6 a[data-icon="minus"] .ui-btn-inner, #ingredients-list-wrapper .drink.type-6 a[data-icon="plus"] .ui-btn-inner, #drinks-list .added-ingredient.type-6 a[data-icon="delete"] .ui-btn-inner, #drinks-list .added-ingredient.type-6 a[data-icon="minus"] .ui-btn-inner, #drinks-list .added-ingredient.type-6 a[data-icon="plus"] .ui-btn-inner, #drinks-list .drink.type-6 a[data-icon="delete"] .ui-btn-inner, #drinks-list .drink.type-6 a[data-icon="minus"] .ui-btn-inner, #drinks-list .drink.type-6 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-6 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .added-ingredient.type-6 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .added-ingredient.type-6 a[data-icon="plus"] .ui-btn-inner, #action-steps-list .drink.type-6 a[data-icon="delete"] .ui-btn-inner, #action-steps-list .drink.type-6 a[data-icon="minus"] .ui-btn-inner, #action-steps-list .drink.type-6 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-6 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .added-ingredient.type-6 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .added-ingredient.type-6 a[data-icon="plus"] .ui-btn-inner, #explore-table-list .drink.type-6 a[data-icon="delete"] .ui-btn-inner, #explore-table-list .drink.type-6 a[data-icon="minus"] .ui-btn-inner, #explore-table-list .drink.type-6 a[data-icon="plus"] .ui-btn-inner {
        background: #5678bb; }
      #ingredients-list .added-ingredient.type-6 .ui-block-a, #ingredients-list .drink.type-6 .ui-block-a, #steps-list .added-ingredient.type-6 .ui-block-a, #steps-list .drink.type-6 .ui-block-a, #ingredients-list-wrapper .added-ingredient.type-6 .ui-block-a, #ingredients-list-wrapper .drink.type-6 .ui-block-a, #drinks-list .added-ingredient.type-6 .ui-block-a, #drinks-list .drink.type-6 .ui-block-a, #action-steps-list .added-ingredient.type-6 .ui-block-a, #action-steps-list .drink.type-6 .ui-block-a, #explore-table-list .added-ingredient.type-6 .ui-block-a, #explore-table-list .drink.type-6 .ui-block-a {
        border-left: 4px solid #5678bb; }
    #ingredients-list .added-ingredient .ui-icon-delete, #ingredients-list .drink .ui-icon-delete, #steps-list .added-ingredient .ui-icon-delete, #steps-list .drink .ui-icon-delete, #ingredients-list-wrapper .added-ingredient .ui-icon-delete, #ingredients-list-wrapper .drink .ui-icon-delete, #drinks-list .added-ingredient .ui-icon-delete, #drinks-list .drink .ui-icon-delete, #action-steps-list .added-ingredient .ui-icon-delete, #action-steps-list .drink .ui-icon-delete, #explore-table-list .added-ingredient .ui-icon-delete, #explore-table-list .drink .ui-icon-delete {
      background: url("../images/icon-cross-rotated.svg") no-repeat;
      width: 20px;
      height: 20px;
      margin: 5px 0 0 4px; }
    #ingredients-list .added-ingredient .ui-icon-minus, #ingredients-list .drink .ui-icon-minus, #steps-list .added-ingredient .ui-icon-minus, #steps-list .drink .ui-icon-minus, #ingredients-list-wrapper .added-ingredient .ui-icon-minus, #ingredients-list-wrapper .drink .ui-icon-minus, #drinks-list .added-ingredient .ui-icon-minus, #drinks-list .drink .ui-icon-minus, #action-steps-list .added-ingredient .ui-icon-minus, #action-steps-list .drink .ui-icon-minus, #explore-table-list .added-ingredient .ui-icon-minus, #explore-table-list .drink .ui-icon-minus {
      background: #fff;
      width: 16px;
      height: 2px;
      margin: 14px 0 0 7px; }
    #ingredients-list .added-ingredient .ui-icon-plus, #ingredients-list .drink .ui-icon-plus, #steps-list .added-ingredient .ui-icon-plus, #steps-list .drink .ui-icon-plus, #ingredients-list-wrapper .added-ingredient .ui-icon-plus, #ingredients-list-wrapper .drink .ui-icon-plus, #drinks-list .added-ingredient .ui-icon-plus, #drinks-list .drink .ui-icon-plus, #action-steps-list .added-ingredient .ui-icon-plus, #action-steps-list .drink .ui-icon-plus, #explore-table-list .added-ingredient .ui-icon-plus, #explore-table-list .drink .ui-icon-plus {
      background: url("../images/icon-cross.svg") no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      z-index: 10;
      position: relative;
      margin: 5px 0 0 5px; }
    #ingredients-list .added-ingredient .ui-block-a, #ingredients-list .drink .ui-block-a, #steps-list .added-ingredient .ui-block-a, #steps-list .drink .ui-block-a, #ingredients-list-wrapper .added-ingredient .ui-block-a, #ingredients-list-wrapper .drink .ui-block-a, #drinks-list .added-ingredient .ui-block-a, #drinks-list .drink .ui-block-a, #action-steps-list .added-ingredient .ui-block-a, #action-steps-list .drink .ui-block-a, #explore-table-list .added-ingredient .ui-block-a, #explore-table-list .drink .ui-block-a {
      width: 45px;
      margin-left: -45px;
      float: left;
      display: -webkit-box;
      -webkit-box-pack: start;
      -webkit-box-align: center; }
    #ingredients-list .added-ingredient .ui-block-b, #ingredients-list .drink .ui-block-b, #steps-list .added-ingredient .ui-block-b, #steps-list .drink .ui-block-b, #ingredients-list-wrapper .added-ingredient .ui-block-b, #ingredients-list-wrapper .drink .ui-block-b, #drinks-list .added-ingredient .ui-block-b, #drinks-list .drink .ui-block-b, #action-steps-list .added-ingredient .ui-block-b, #action-steps-list .drink .ui-block-b, #explore-table-list .added-ingredient .ui-block-b, #explore-table-list .drink .ui-block-b {
      height: 100%;
      display: -webkit-box;
      -webkit-box-align: center; }
    #ingredients-list .added-ingredient .ui-block-c, #ingredients-list .drink .ui-block-c, #steps-list .added-ingredient .ui-block-c, #steps-list .drink .ui-block-c, #ingredients-list-wrapper .added-ingredient .ui-block-c, #ingredients-list-wrapper .drink .ui-block-c, #drinks-list .added-ingredient .ui-block-c, #drinks-list .drink .ui-block-c, #action-steps-list .added-ingredient .ui-block-c, #action-steps-list .drink .ui-block-c, #explore-table-list .added-ingredient .ui-block-c, #explore-table-list .drink .ui-block-c {
      float: right;
      width: 150px;
      height: 100%;
      margin-right: 6px;
      display: -webkit-box;
      -webkit-box-pack: end;
      -webkit-box-align: center; }
  #ingredients-list .drink, #steps-list .drink, #ingredients-list-wrapper .drink, #drinks-list .drink, #action-steps-list .drink, #explore-table-list .drink {
    height: 80px; }

#action-steps-list {
  margin-top: 12px;
  margin-bottom: 12px; }

#ingredients-list-wrapper {
  margin: 0;
  margin-top: 12px; }
  #ingredients-list-wrapper ul {
    width: 100%; }
  #ingredients-list-wrapper .ingredient-controls a[data-role="button"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0; }
    #ingredients-list-wrapper .ingredient-controls a[data-role="button"]:first-child {
      left: 0; }
  #ingredients-list-wrapper .ingredient-controls .volume {
    color: #000;
    background: #FFF;
    display: block;
    font-size: 16px;
    width: 100%;
    height: 100%;
    line-height: 30px;
    min-width: 80px;
    text-align: center;
    text-transform: uppercase; }
  #ingredients-list-wrapper .ingredient-controls .makrlist-icon-left a[data-role="button"] {
    background: rgba(0, 0, 0, 0.2); }

.action-wrapper {
  border-left: 4px solid #999; }
  .action-wrapper .instruction {
    display: inline;
    float: left;
    margin-right: 12px;
    margin-left: 4px;
    line-height: 43px; }

#recipe-steps-actions-wrapper {
  position: relative;
  margin-bottom: 12px;
  padding: 0;
  overflow: hidden; }
  #recipe-steps-actions-wrapper ul {
    margin: 0; }

#drink-card {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #FFF; }
  #drink-card .ui-block-a {
    padding-left: 12px;
    width: 50%;
    float: left;
    display: -webkit-box;
    -webkit-box-pack: start;
    -webkit-box-align: center; }
  #drink-card .ui-block-b {
    padding-right: 12px;
    width: 50%;
    text-align: right;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center; }
    #drink-card .ui-block-b .text-right {
      text-align: right;
      width: 100%; }
  #drink-card p.user-name {
    font-size: 12px; }
  #drink-card p.drink-name {
    font-size: 16px; }
  #drink-card p.alcohol-percentage {
    font-size: 16px;
    text-align: right; }
  #drink-card p.alcohol-text {
    text-align: right;
    font-size: 12px; }

#drinks-list, #explore-drinks-list {
  margin-top: 0px;
  margin-bottom: 12px; }
  #drinks-list .drink, #drinks-list .explore-drink, #explore-drinks-list .drink, #explore-drinks-list .explore-drink {
    border-bottom: 1px solid #a3a3a3;
    background: url("../images/grey-transparent.png"); }
    #drinks-list .drink .ui-block-a, #drinks-list .explore-drink .ui-block-a, #explore-drinks-list .drink .ui-block-a, #explore-drinks-list .explore-drink .ui-block-a {
      width: 80px;
      float: left;
      display: -webkit-box;
      -webkit-box-pack: start;
      -webkit-box-align: center; }
    #drinks-list .drink .ui-block-b, #drinks-list .explore-drink .ui-block-b, #explore-drinks-list .drink .ui-block-b, #explore-drinks-list .explore-drink .ui-block-b {
      height: 100%;
      display: -webkit-box;
      -webkit-box-align: center; }
    #drinks-list .drink .ui-block-c, #drinks-list .explore-drink .ui-block-c, #explore-drinks-list .drink .ui-block-c, #explore-drinks-list .explore-drink .ui-block-c {
      float: right;
      width: 150px;
      height: 100%;
      margin-right: 12px;
      display: -webkit-box;
      -webkit-box-pack: end;
      -webkit-box-align: center; }
    #drinks-list .drink[data-recipe-id='56'], #drinks-list .explore-drink[data-recipe-id='56'], #explore-drinks-list .drink[data-recipe-id='56'], #explore-drinks-list .explore-drink[data-recipe-id='56'] {
      border-bottom: 3px solid #f28d00;
      border-top: 3px solid #f28d00; }
  #drinks-list p.drink-name, #explore-drinks-list p.drink-name {
    font-size: 16px; }
  #drinks-list p.alcohol-percentage, #explore-drinks-list p.alcohol-percentage {
    font-size: 16px;
    text-align: right; }
  #drinks-list p.alcohol-text, #explore-drinks-list p.alcohol-text {
    text-align: right; }

#recipe-steps-list-wrapper {
  width: 100%;
  margin: 0;
  margin-top: 12px; }
  #recipe-steps-list-wrapper .tickmark-container {
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0px;
    background: url("../images/grey-transparent.png"); }
    #recipe-steps-list-wrapper .tickmark-container.ui-last-child {
      display: none; }
      #recipe-steps-list-wrapper .tickmark-container.ui-last-child .tickmark {
        display: none; }
  #recipe-steps-list-wrapper .tickmark {
    width: 50px;
    background: #FFF;
    height: 1px; }
  #recipe-steps-list-wrapper .volume {
    color: #000;
    background: #FFF;
    font-size: 16px;
    width: 100%;
    height: 100%;
    line-height: 30px;
    min-width: 80px;
    text-align: center;
    text-transform: uppercase; }
  #recipe-steps-list-wrapper .action-scroll-menu {
    padding: 0;
    background: url("../images/light_grey_stripe.png");
    border-left-width: 1px; }
  #recipe-steps-list-wrapper .added-ingredient {
    height: 100%;
    margin-left: 12px;
    margin-right: 12px; }
    #recipe-steps-list-wrapper .added-ingredient .ingredient-name {
      background: #FFF;
      color: #000; }
    #recipe-steps-list-wrapper .added-ingredient .ingredient-controls {
      width: 80px;
      color: #FFF;
      float: right;
      margin-right: -74px;
      margin-top: -2px; }
      #recipe-steps-list-wrapper .added-ingredient .ingredient-controls a[data-role="button"] {
        margin-top: 0; }
        #recipe-steps-list-wrapper .added-ingredient .ingredient-controls a[data-role="button"] span {
          border: 0; }
        #recipe-steps-list-wrapper .added-ingredient .ingredient-controls a[data-role="button"] .ui-icon {
          display: block;
          width: 100%;
          height: 100%;
          background: #9cf;
          margin: 0; }
        #recipe-steps-list-wrapper .added-ingredient .ingredient-controls a[data-role="button"] .ui-icon-arrow-d {
          background: url("../images/arrow-white-down.svg") no-repeat 50% 50%; }
        #recipe-steps-list-wrapper .added-ingredient .ingredient-controls a[data-role="button"] .ui-icon-arrow-u {
          background: url("../images/arrow-white-up.svg") no-repeat 50% 50%; }
    #recipe-steps-list-wrapper .added-ingredient .ui-btn-inner {
      border-top: 0;
      border-left: 4px solid #999;
      height: 100%; }
    #recipe-steps-list-wrapper .added-ingredient .ui-btn-inner {
      border-left: 4px solid #5678bb;
      height: 100%; }
    #recipe-steps-list-wrapper .added-ingredient .ui-btn-inner.ui-li {
      border-left: 4px solid #999999; }
    #recipe-steps-list-wrapper .added-ingredient .makrlist-icon-left.step-number {
      font-weight: normal;
      float: left;
      font-size: 16px;
      margin-left: 6px;
      background: #999999;
      color: #FFF;
      padding: 8px 11px;
      margin-top: 6px; }
    #recipe-steps-list-wrapper .added-ingredient.type-1 .ui-btn-inner.ui-li {
      border-left: 4px solid #999999; }
    #recipe-steps-list-wrapper .added-ingredient.type-1 .ingredient-controls a[data-role="button"] .ui-btn-inner {
      background: #999999; }
    #recipe-steps-list-wrapper .added-ingredient.type-1 .makrlist-icon-left.step-number {
      background: #999999;
      color: #FFF; }
    #recipe-steps-list-wrapper .added-ingredient.type-2 .ui-btn-inner.ui-li {
      border-left: 4px solid #a60016; }
    #recipe-steps-list-wrapper .added-ingredient.type-2 .ingredient-controls a[data-role="button"] .ui-btn-inner {
      background: #a60016; }
    #recipe-steps-list-wrapper .added-ingredient.type-2 .makrlist-icon-left.step-number {
      background: #a60016;
      color: #FFF; }
    #recipe-steps-list-wrapper .added-ingredient.type-3 .ui-btn-inner.ui-li {
      border-left: 4px solid #5678bb; }
    #recipe-steps-list-wrapper .added-ingredient.type-3 .ingredient-controls a[data-role="button"] .ui-btn-inner {
      background: #5678bb; }
    #recipe-steps-list-wrapper .added-ingredient.type-3 .makrlist-icon-left.step-number {
      background: #5678bb;
      color: #FFF; }
    #recipe-steps-list-wrapper .added-ingredient.type-4 .ui-btn-inner.ui-li {
      border-left: 4px solid #f28d00; }
    #recipe-steps-list-wrapper .added-ingredient.type-4 .ingredient-controls a[data-role="button"] .ui-btn-inner {
      background: #f28d00; }
    #recipe-steps-list-wrapper .added-ingredient.type-4 .makrlist-icon-left.step-number {
      background: #f28d00;
      color: #FFF; }
    #recipe-steps-list-wrapper .added-ingredient.type-5 .ui-btn-inner.ui-li {
      border-left: 4px solid #7fd35a; }
    #recipe-steps-list-wrapper .added-ingredient.type-5 .ingredient-controls a[data-role="button"] .ui-btn-inner {
      background: #7fd35a; }
    #recipe-steps-list-wrapper .added-ingredient.type-5 .makrlist-icon-left.step-number {
      background: #7fd35a;
      color: #FFF; }
    #recipe-steps-list-wrapper .added-ingredient.type-6 .ui-btn-inner.ui-li {
      border-left: 4px solid #5678bb; }
    #recipe-steps-list-wrapper .added-ingredient.type-6 .ingredient-controls a[data-role="button"] .ui-btn-inner {
      background: #5678bb; }
    #recipe-steps-list-wrapper .added-ingredient.type-6 .makrlist-icon-left.step-number {
      background: #5678bb;
      color: #FFF; }
    #recipe-steps-list-wrapper .added-ingredient .ui-btn-text {
      padding-right: 80px; }
      #recipe-steps-list-wrapper .added-ingredient .ui-btn-text .ui-link-inherit {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 43px;
        color: #FFF;
        padding: 0 11px; }
  #recipe-steps-list-wrapper .action {
    margin: 0 auto;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    border: 0; }
    #recipe-steps-list-wrapper .action .ui-li-heading {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0; }
    #recipe-steps-list-wrapper .action .ui-collapsible-inset {
      margin: 0; }
    #recipe-steps-list-wrapper .action .ui-btn-inner {
      padding: 0;
      text-align: center;
      line-height: 34px;
      color: #fff;
      font-size: 13px; }
    #recipe-steps-list-wrapper .action .ui-collapsible-content {
      padding: 0;
      border: 0; }
    #recipe-steps-list-wrapper .action h2 a {
      background: #5678bb;
      width: 20%;
      min-width: 140px;
      margin: 0 auto;
      border: 0; }
      #recipe-steps-list-wrapper .action h2 a .ui-icon {
        display: none; }
    #recipe-steps-list-wrapper .action ul[data-role="listview"] {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0; }
    #recipe-steps-list-wrapper .action .add-action,
    #recipe-steps-list-wrapper .action .change-action {
      background: #fff;
      border-color: #3eb3e5; }
      #recipe-steps-list-wrapper .action .add-action .ui-btn-text a,
      #recipe-steps-list-wrapper .action .change-action .ui-btn-text a {
        font-size: 22px;
        color: #5678bb;
        text-align: left;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 1.5em; }
      #recipe-steps-list-wrapper .action .add-action .ui-icon-arrow-r,
      #recipe-steps-list-wrapper .action .change-action .ui-icon-arrow-r {
        background: url("../images/arrow-blue-right.svg") no-repeat;
        background-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: -9px;
        margin-right: 5px; }
      #recipe-steps-list-wrapper .action .add-action:first-child div,
      #recipe-steps-list-wrapper .action .change-action:first-child div {
        border-top-color: #5678bb; }

#create-success-wrapper, #order-summary-wrapper {
  position: relative;
  margin-bottom: 12px; }

#order-summary-wrapper div.ui-input-text {
  margin: 12px;
  padding: 0;
  background: transparent;
  border-left: 4px solid #5b9ad3; }
  #order-summary-wrapper div.ui-input-text input {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    background: #fff;
    font-size: 16px;
    width: 98%;
    height: 56px;
    margin: 0;
    padding-left: 2%;
    margin-bottom: 10px; }

#name-your-drink-wrapper {
  position: relative;
  margin-bottom: 12px; }
  #name-your-drink-wrapper .instructions {
    padding: 6px;
    color: #fff;
    background: #5678bb;
    font-family: "ThreeSix11Pro-Reg";
    text-transform: uppercase;
    text-align: center; }
    #name-your-drink-wrapper .instructions p {
      font-size: 18px;
      line-height: 18px;
      text-align: center; }
  #name-your-drink-wrapper div.ui-input-text {
    margin: 12px;
    padding: 0;
    background: transparent;
    border-left: 4px solid #5b9ad3; }
    #name-your-drink-wrapper div.ui-input-text input {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      background: #fff;
      font-size: 16px;
      width: 98%;
      height: 56px;
      margin: 0;
      padding-left: 2%;
      margin-bottom: 10px; }

.ui-bar #next-button-wrapper a[data-role="button"][data-theme="a"] {
  background: #ccc;
  border: 0;
  padding-left: 0;
  box-shadow: none; }
  .ui-bar #next-button-wrapper a[data-role="button"][data-theme="a"] .ui-btn-text {
    padding-left: 0;
    text-align: center;
    text-transform: uppercase;
    background: #4880fa;
    color: #fff; }

#btn-next {
  width: 80%; }

#footer-inner-wrapper .ui-block-a {
  width: 30%; }
#footer-inner-wrapper .ui-block-b {
  width: 70%; }
#footer-inner-wrapper .one-third {
  width: 33.333%; }
#footer-inner-wrapper a[data-role="button"].back {
  border: 0; }
  #footer-inner-wrapper a[data-role="button"].back .ui-btn-inner .ui-btn-text {
    background: #7f7f7f;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0; }

#bg-x-white p {
  word-wrap: break-word;
  color: #fff;
  font-size: 26px;
  line-height: 36px; }

div[data-role="page"].design-instructions {
  background: #5b9ad3; }

.design-instructions .ui-panel-content-wrap {
  background: #5c9ad2; }
.design-instructions div[data-role="header"] {
  border: 0; }
  .design-instructions div[data-role="header"] h1 {
    color: #fff;
    font-size: 18px; }
.design-instructions div[data-role="content"] {
  clear: both;
  padding: 15px; }
  .design-instructions div[data-role="content"] ol {
    font-size: 26px;
    margin: 0 0 0 -10px;
    counter-reset: li; }
    .design-instructions div[data-role="content"] ol li {
      list-style: none;
      background: none;
      color: #fff;
      border: 0;
      position: relative;
      margin: 0 0 0 1em;
      padding: 5px 15px; }
    .design-instructions div[data-role="content"] ol li:before {
      content: counter(li) ".";
      /* Use the counter as content */
      counter-increment: li;
      /* Increment the counter by 1 */
      position: absolute;
      top: 20%;
      left: -.5em;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 1em;
      font-size: 26px;
      padding: 1px 0 0;
      color: #fff; }
.design-instructions .ui-footer {
  border-color: rgba(91, 154, 211, 0.7);
  background: #fff; }
.design-instructions #footer-inner-wrapper {
  background: none; }

#create-success-wrapper, #order-summary-wrapper {
  margin: 0;
  padding: 0; }
  #create-success-wrapper ul, #order-summary-wrapper ul {
    margin: 0; }
  #create-success-wrapper div.ui-input-text, #order-summary-wrapper div.ui-input-text {
    margin: 10px 12 10px 12;
    padding: 0;
    background: transparent;
    border-left: 4px solid #5c9ad2; }
    #create-success-wrapper div.ui-input-text input, #order-summary-wrapper div.ui-input-text input {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      background: #fff;
      font-size: 24px;
      width: 98%;
      height: 56px;
      margin: 0;
      padding-left: 2%; }
  #create-success-wrapper .message-banner, #order-summary-wrapper .message-banner {
    color: #fff;
    background: #5678bb;
    padding: 20px 10px 20px;
    font-family: "ThreeSix11Pro-Reg";
    position: relative; }
    #create-success-wrapper .message-banner.blue, #order-summary-wrapper .message-banner.blue {
      background: #5b9ad3;
      padding: 10px; }
    #create-success-wrapper .message-banner .count, #order-summary-wrapper .message-banner .count {
      font-size: 40px;
      position: absolute;
      top: 25%;
      left: 12px; }
    #create-success-wrapper .message-banner p, #order-summary-wrapper .message-banner p {
      padding: 0;
      font-size: 20px;
      line-height: 26px; }

#order-status-wrapper {
  margin: 0; }
  #order-status-wrapper ul {
    margin: 0; }
  #order-status-wrapper .queue-position {
    color: #fff;
    background: #5678bb;
    padding: 20px 10px;
    font-family: "ThreeSix11Pro-Reg";
    position: relative; }
    #order-status-wrapper .queue-position .count {
      font-size: 40px;
      display: table-cell;
      vertical-align: middle;
      padding: 15px;
      width: 60px; }
    #order-status-wrapper .queue-position p {
      padding: 0;
      font-size: 18px;
      line-height: 18px;
      margin: 0px;
      display: table-cell;
      vertical-align: middle; }
  #order-status-wrapper .thank-you {
    color: #fff;
    background: #5678bb;
    padding: 20px 10px;
    font-family: "ThreeSix11Pro-Reg";
    position: relative;
    padding: 20px 60px; }
    #order-status-wrapper .thank-you p {
      text-align: center;
      padding: 0;
      font-size: 18px;
      line-height: 18px;
      margin: 0px;
      display: table-cell;
      vertical-align: middle; }
  #order-status-wrapper .text-me {
    margin-top: 0;
    background: #fff;
    border: 0;
    height: auto; }
    #order-status-wrapper .text-me span.sms {
      color: #666;
      display: block; }
    #order-status-wrapper .text-me span i {
      color: #666; }
    #order-status-wrapper .text-me .ui-btn-inner {
      padding: 10px 75px 10px 0; }
    #order-status-wrapper .text-me .ui-btn-text {
      color: #5678bb;
      white-space: normal;
      line-height: 24px;
      text-transform: uppercase; }

#visualization-super-wrapper {
  background: #FFF;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 12px; }

#graph-title {
  text-align: center; }
  #graph-title h1 {
    font-size: 18px;
    color: #000; }

#y-axis-label {
  -webkit-transform: rotate(-90deg);
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  top: -8px;
  z-index: -1; }

.axis-name {
  text-align: center;
  color: #000; }

.min-label {
  float: left;
  margin-left: 12px;
  color: #000; }

.max-label {
  float: right;
  margin-right: 12px;
  color: #000; }

#x-axis-label {
  width: 100%; }

#filter-controls p {
  font-size: 13px; }
#filter-controls a.ui-btn-active {
  border-left: 0px;
  border-right: 0px; }
#filter-controls a.explore_filter_button .ui-btn-inner {
  background: #cbcbcb url("../images/grey_stripe.png");
  /*padding: 6px;*/
  padding: 2px;
  border-left: 0px;
  border-right: 0px; }
#filter-controls a.explore_filter_button.ui-btn-active .ui-btn-inner {
  background: #FFF;
  /*padding: 6px;*/
  padding: 2px;
  border-left: 0px;
  border-right: 0px; }

#graph {
  z-index: 9999; }

#visualization-wrapper {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999; }

#visualization-canvas {
  border-left: 1px solid #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
  z-index: 9999; }

#explore_content {
  overflow: hidden; }

.ui-btn-inner .ui-icon {
  z-index: 1; }

div,
input,
select,
p {
  text-transform: uppercase; }

#intro-popup-closer {
  border: 0px; }

#avatar-dialog-wrapper {
  background-color: #cbcbcb !important; }
  #avatar-dialog-wrapper .ui-btn-inner {
    border: 0px; }
  #avatar-dialog-wrapper .ui-icon-arrow-r {
    background: url("../images/arrow-blue-right.svg") no-repeat;
    width: 31px;
    height: 30px;
    z-index: 1;
    margin-top: -17px;
    right: 15px; }

#avatar-list {
  border-left: 4px solid #5c9ad2;
  margin: 0px; }
  #avatar-list li {
    padding: 4px;
    border: 0px;
    border-bottom: 1px solid #FFF;
    background: url("../images/grey_stripe.png"); }
    #avatar-list li.ui-last-child {
      border-bottom: 0px; }

.dialog-closer {
  background: #7f7f7f;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  text-shadow: none;
  box-shadow: none;
  border: 0px;
  width: 20px;
  height: 20px;
  padding: 6px; }
  .dialog-closer .ui-icon {
    background: url("../images/icon-close.svg") no-repeat;
    padding: 6px; }
  .dialog-closer .ui-btn-inner {
    border: 0px; }

#profile-content-wrapper {
  color: #000; }
  #profile-content-wrapper #profile-avatar {
    margin: 12px; }
  #profile-content-wrapper #profile-bio {
    margin-left: 124px;
    margin-top: 40px; }
    #profile-content-wrapper #profile-bio .age-gender, #profile-content-wrapper #profile-bio .nationality {
      font-size: 12px; }
  #profile-content-wrapper .message {
    color: #000;
    background: #FFF;
    margin: 12px;
    padding: 12px; }
    #profile-content-wrapper .message .blue {
      color: #5678bb; }

.message-header {
  background: #FFF;
  margin: 12px;
  padding: 12px;
  margin-bottom: 0px; }
  .message-header .blue {
    color: #5678bb; }

.sponsors-image {
  width: 100%; }

.sponsors-notice {
  width: 100%;
  text-align: center;
  background: #FFF;
  padding-top: 12px;
  padding-bottom: 12px; }
  .sponsors-notice .down-arrow {
    width: 40px;
    height: 40px; }

div[data-role="page"] {
  background: url("../images/grey_stripe.png"); }
  div[data-role="page"] #popupCloseLeft {
    width: 220px; }
  div[data-role="page"] div[data-role="popup"] {
    width: 220px !important;
    background: #FFF;
    font-family: "ThreeSix11Pro-Reg"; }
    div[data-role="page"] div[data-role="popup"] a[data-role="button"] {
      background: #7f7f7f;
      float: left;
      padding: 0;
      width: 30px;
      height: 30px; }
      div[data-role="page"] div[data-role="popup"] a[data-role="button"] .ui-btn-text {
        padding: 0; }
      div[data-role="page"] div[data-role="popup"] a[data-role="button"][data-icon="delete"] {
        margin: 0 0;
        background: rgba(153, 153, 153, 0.5); }
    div[data-role="page"] div[data-role="popup"] .ui-icon-delete {
      background: url("../images/icon-close.svg") no-repeat;
      width: 20px;
      height: 20px; }
      div[data-role="page"] div[data-role="popup"] .ui-icon-delete.ui-icon {
        margin: 7px 0 0 7px; }
    div[data-role="page"] div[data-role="popup"] .popup-message {
      margin: 0px;
      margin-left: 28px;
      padding: 12px;
      color: #000; }

.ui-loader {
  color: #000;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6); }
  .ui-loader.ui-corner-all {
    border-radius: 0px;
    -webkit-border-radius: 0px; }

.ui-popup.ui-corner-all {
  border-radius: 0px;
  -webkit-border-radius: 0px; }

.ui-panel-content-wrap {
  background: url("../images/grey_stripe.png"); }
  .ui-panel-content-wrap .ui-content {
    padding: 0; }

.ui-panel-content-wrap,
.grey-content {
  background: url("../images/grey_stripe.png"); }

#profile-avatar {
  height: 120px;
  padding: 6px 12px 6px 5px;
  background: #fff; }
  #profile-avatar ul {
    margin: 2em 0 0 0;
    padding: 0 0 0 8em; }
    #profile-avatar ul li {
      margin: 0;
      padding: .1em 0;
      font-family: "ThreeSix11Pro-Reg"; }

#profile-hexagon {
  float: left;
  background: #fff; }

#edit-profile-btn {
  float: right; }

h1,
a,
p,
legend {
  font-family: "ThreeSix11Pro-Reg";
  text-shadow: none;
  box-shadow: none;
  font-weight: normal; }

/* BUTTONS ------------------------------- */
.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a,
.ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b,
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
  font-family: "ThreeSix11Pro-Reg";
  text-shadow: none;
  box-shadow: none;
  font-weight: normal; }

.ui-btn-down-a.ui-btn .ui-btn-inner,
.ui-btn-down-a.ui-btn .ui-btn-text,
.ui-btn-down-b.ui-btn .ui-btn-inner,
.ui-btn-down-b.ui-btn .ui-btn-text,
.ui-btn-down-c.ui-btn .ui-btn-inner,
.ui-btn-down-c.ui-btn .ui-btn-text {
  background-color: #cbcbcb !important; }

a[data-role="button"] {
  border-radius: 0;
  height: 54px;
  background: #fff;
  box-shadow: none; }
  a[data-role="button"] .ui-btn-inner {
    border: 0;
    margin: 0;
    padding: 0; }
  a[data-role="button"] .ui-btn-text {
    display: block;
    line-height: 54px;
    color: #5678bb;
    background: #fff;
    text-align: left;
    padding-left: 10px;
    font-weight: normal;
    text-shadow: none;
    font-size: 18px; }
  a[data-role="button"].ui-btn-up-a, a[data-role="button"].ui-btn-up-c, a[data-role="button"].ui-btn-hover-a, a[data-role="button"].ui-btn-hover-c {
    border: 0; }

/* A is white bg button */
a[data-role="button"][data-theme="a"] {
  background: #fff;
  border-left: 8px solid #5c9ad2; }

a[data-role="button"][data-theme="a"] .ui-btn-text {
  border: 0;
  color: #4880fa;
  background: #fff; }

a[data-role="button"][data-icon="arrow-r"] .ui-icon-arrow-r {
  background: url("../images/arrow-blue-right.svg") no-repeat;
  width: 31px;
  height: 30px;
  z-index: 1;
  margin-top: -17px;
  right: 15px; }

a[data-role="button"][data-icon="arrow-r-green"] .ui-icon-arrow-r-green {
  background: url("../images/arrow-green-right.svg") no-repeat;
  width: 31px;
  height: 30px;
  z-index: 1;
  margin-top: -17px;
  right: 15px; }

/* B is blue bg, white text button */
a[data-role="button"][data-theme="b"] .ui-btn-text,
.btn-next[data-role="button"] .ui-btn-text,
#nextButton[data-role="button"] .ui-btn-text {
  background: #f28d00;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-left: 0; }
a[data-role="button"][data-theme="b"].ui-disabled .ui-btn-text,
.btn-next[data-role="button"].ui-disabled .ui-btn-text,
#nextButton[data-role="button"].ui-disabled .ui-btn-text {
  background: #9a9a9a;
  color: #333; }

a[data-role="button"].back {
  border: 0; }
  a[data-role="button"].back .ui-btn-inner .ui-btn-text {
    background: #7f7f7f;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0; }

/* HEADER ------------------------------- */
div[data-role="header"] {
  background: #5678bb;
  border: 0;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 1px; }
  div[data-role="header"] h1.ui-title {
    font-size: 18px;
    color: #fff;
    margin: 0px;
    line-height: 48px;
    text-overflow: clip; }
    div[data-role="header"] h1.ui-title span {
      color: #999; }
  div[data-role="header"][data-chars="8"] h1:after {
    content: ' ////////'; }

.ui-header a[data-icon="grid"] {
  top: 13px;
  left: 11px;
  z-index: 10;
  width: 30px; }
  .ui-header a[data-icon="grid"] .ui-btn-inner {
    width: 30px;
    height: 20px;
    border: 0; }
    .ui-header a[data-icon="grid"] .ui-btn-inner .ui-icon-grid {
      background: url("../images/icon-menu.svg") no-repeat;
      border-radius: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 1; }
.ui-header a[data-icon="help"] {
  top: 13px;
  right: 11px;
  left: auto;
  z-index: 10;
  width: 20px; }
  .ui-header a[data-icon="help"] .ui-btn-inner {
    width: 20px;
    height: 20px;
    border: 0; }
    .ui-header a[data-icon="help"] .ui-btn-inner .ui-icon-help {
      background: url("../images/icon-question-mark-2.svg") no-repeat;
      border-radius: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 1; }

/* FOOTER ------------------------------- */
footer {
  background-color: #f9f9f9; }

.ui-footer {
  border-color: #fff; }

/*required to pad footer buttons correctly*/
/*http://jquerymobile.com/demos/1.2.0/docs/toolbars/docs-footers.html*/
#footer-inner-wrapper {
  background: #fff;
  padding: 2px 8px;
  height: 44px; }
  #footer-inner-wrapper *[data-role="button"] {
    height: 36px;
    margin-top: 4px; }
    #footer-inner-wrapper *[data-role="button"] .ui-btn-text {
      line-height: 36px; }

#navigation-footer-wrapper[data-chars="6"] #footer-inner-wrapper .ui-btn-text:before {
  content: '++++++ '; }
#navigation-footer-wrapper[data-chars="6"] #footer-inner-wrapper .ui-btn-text:after {
  content: " ++++++"; }

#navigation-footer-wrapper[data-chars="5"] #footer-inner-wrapper .ui-btn-text:before {
  content: '+++++ '; }
#navigation-footer-wrapper[data-chars="5"] #footer-inner-wrapper .ui-btn-text:after {
  content: " +++++"; }

/* INPUT ------------------------------- */
div.ui-input-text {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #FFF;
  padding: .7em 15px; }
  div.ui-input-text input.ui-input-text {
    background-color: #FFF;
    padding: 0px;
    margin: 12px;
    text-transform: uppercase;
    font-family: "ThreeSix11Pro-Reg"; }

.makr-list-header {
  display: inline;
  padding: .7em 15px; }

.makr-text-center
#scroll-view li {
  background-color: #c2c2c2;
  margin-left: 12px;
  height: 60px;
  line-height: 60px;
  display: block;
  vertical-align: middle;
  float: left;
  width: 120px;
  border: none;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px; }

#scroll-view li a {
  text-align: center; }

.makr-center h1 {
  padding: 0px; }

i.plus {
  font-style: normal; }
