<div id="navigation-header-wrapper"></div>

<div id="profile-content-wrapper" data-role="content">

	
    <div id="profile-avatar">
        <div id="profile-hexagon"></div>
        <div id="profile-bio"></div>
    </div>
    
    <div class="message">
        <p class="blue">{{message}}<p>
    </div>

    

    <div id="drink-list-wrapper"></div>
   

</div>




<div id="navigation-footer-wrapper"></div>