
<head>

  <title>Google+ JavaScript Quickstart</title>
  <script type="text/javascript">
  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript'; po.async = true;
    po.src = 'https://plus.google.com/js/client:plusone.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();
  </script>
  <!-- JavaScript specific to this application that is not related to API
     calls -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>



<script type="text/javascript">
var helper = (function() {
  var BASE_API_PATH = 'plus/v1/';

  return {
    /**
     * Hides the sign in button and starts the post-authorization operations.
     *
     * @param {Object} authResult An Object which contains the access token and
     *   other authentication information.
     */
    onSignInCallback: function(authResult) {
        console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>");

      gapi.client.load('plus','v1', function(){
        if (authResult['access_token']) {
          $('#authOps').show('slow');
          $('#gConnect').hide();
          helper.profile();
          // helper.people();
        } else if (authResult['error']) {
          // There was an error, which means the user is not signed in.
          // As an example, you can handle by writing to the console:
          console.log('There was an error: ' + authResult['error']);
          $('#authResult').append('Logged out');
          $('#authOps').hide('slow');
          $('#gConnect').show();
        }
        console.log('authResult', authResult);
      });
    },

    /**
     * Calls the OAuth2 endpoint to disconnect the app for the user.
     */
    disconnect: function() {
      // Revoke the access token.
      $.ajax({
        type: 'GET',
        url: 'https://accounts.google.com/o/oauth2/revoke?token=' +
                    gapi.auth.getToken().access_token,
        async: false,
        contentType: 'application/json',
        dataType: 'jsonp',
        success: function(result) {
          console.log('revoke response: ' + result);
          $('#authOps').hide();
          $('#profile').empty();
          $('#visiblePeople').empty();
          $('#authResult').empty();
          $('#gConnect').show();
        },
        error: function(e) {
          console.log(e);
        }
      });
      window.location.replace("https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://www.makrshakr.com/test");
    },

    getAppPath: function () {
            // var uri = encodeURI('http://www.makrshakr.com/app/');
            // var uri = encodeURI('http://localhost:8888/makr-shakr/');
            var url = location.href;
            return url.replace(url.substr(url.lastIndexOf('/') + 1), '');
    },

    /**
     * Gets and renders the currently signed in user's profile data.
     */
    profile: function(){
      var request = gapi.client.plus.people.get( {'userId' : 'me'} );
      request.execute( function(profile) {

        /*
        console.log(profile.image.url);
        console.log(profile.id);
        console.log(profile.displayName);
        console.log(profile.emails);
        console.log(profile.birthday);
        console.log(profile.gender);
        // console.log(profile.cover.coverPhoto.url);
        */

        var path = helper.getAppPath();

        path = path + '#glogin?gID=' + profile.id;
        console.log(path);


        window.location.href = path;

        $('#profile').empty();
        if (profile.error) {
          $('#profile').append(profile.error);
          return;
        }
        $('#profile').append(
            $('<p><img src=\"' + profile.image.url + '\"></p>'));
        $('#profile').append(
            $('<p>Hello ' + profile.displayName + '!</p>'));
        $('#profile').append(
            $('<p>Age Range: ' + profile.ageRange.min + ' - ' + profile.ageRange.max + '</p>'));
        $('#profile').append(
            $('<p>Birthday: ' + profile.birthday + '</p>'));
        $('#profile').append(
            $('<p>Gender: ' + profile.gender + '</p>'));
        if (profile.cover && profile.coverPhoto) {
          $('#profile').append(
              $('<p><img src=\"' + profile.cover.coverPhoto.url + '\"></p>'));
        }
      });
    }
  };
})();

/**
 * jQuery initialization
 */
$(document).ready(function() {
  $('#disconnect').click(helper.disconnect);
  if ($('[data-clientid="YOUR_CLIENT_ID"]').length > 0) {
    alert('This sample requires your OAuth credentials (client ID) ' +
        'from the Google APIs console:\n' +
        '    https://code.google.com/apis/console/#:access\n\n' +
        'Find and replace YOUR_CLIENT_ID with your client ID.'
    );
  }
});

/**
 * Calls the helper method that handles the authentication flow.
 *
 * @param {Object} authResult An Object which contains the access token and
 *   other authentication information.
 */
function onSignInCallback(authResult) {
  helper.onSignInCallback(authResult);
}
</script>

</head>

<div id="login-content-wrapper" data-role="content">
    <div class="sponsors-notice">
        <p id="scroll-down-message">Scroll down to login and begin!</p>

    </div>

    <img class="sponsors-image" src="images/app-sponsors.svg"></img>
    <div class="login-content">
      <div class="tos">
        MakrShakr will not share any of your data. By clicking the login button, you agree to the MakrShakr <a href="http://www.makrshakr.com/tos.html">terms of service</a>.
      </div>



        <div id="home-page">
            <a href="#createAccount"
                data-role="button"
                data-shadow="false"
                data-theme="a"
                data-icon="arrow-r"
                data-iconpos="right">CREATE ACCOUNT</a>
            <a href="#signIn"
                data-role="button"
                data-shadow="false"
                data-theme="a"
                data-icon="arrow-r"
                data-iconpos="right">SIGN IN</a>
        </div>

   <!-- data-clientId="448483193519-dc4pt6qo4i6t1os4kq0egmpjnr9931j2.apps.googleusercontent.com" -->
     <button class="g-signin"
        data-scope="https://www.googleapis.com/auth/plus.login"
        data-requestvisibleactions="http://schemas.google.com/AddActivity"
        data-clientId="1036176577267.apps.googleusercontent.com"
        data-approvalprompt="force"
        data-theme="dark"
        data-callback="onSignInCallback"
        data-cookiepolicy="none">
    </button>

<!-- data-cookiepolicy="single_host_origin"
 -->

</div>
</div>
