<div class="ui-grid-b">
	<div class="ui-block-a">
		<span class="makrlist-icon-left">
			<div id="recipe-graphic-wrapper"></div>
		</span>
	</div>

	<div class="ui-block-b makr-text-center">
		<div>
			<p class="drink-name">{{drinkName}}</p>
			<p class="user-name">{{userName}}</p>
		</div>
	</div>

	<div class="ui-block-c">
		<div>
			<p class="alcohol-percentage">{{alcoholPercentage}}%</p>
			<p class="alcohol-text">alcohol</p>
		</div>
	</div>
</div>
