<div data-role="header">
	<a href="#" data-icon="delete" data-iconpos="notext" data-inline="true" data-mini="true" class="back dialog-closer ui-btn-left"></a>  
	<h1>Filter</h1> 
</div>
<div data-role=content>

	<a id="apply-filters" href='#' data-role='button' data-mini='false' data-theme='a' data-inline='false'>Apply</a>

	<div id="gender-filter">
		<form>
    		<fieldset data-role="controlgroup" data-type="horizontal">
        		<legend>Gender:</legend>
        		<input type="checkbox" name="female" id="female" {{checkbox filters.gender.female}}>
       			 <label for="female">Female</label>
       			 <input type="checkbox" name="male" id="male" checked={{checkbox filters.gender.male}}>
        		<label for="male">Male</label>
  
    		</fieldset>
		</form>
	</div>

	
	<div id="age-filter">
		<form>
    		<div data-role="rangeslider">
        		<label for="min-age">Age:</label>
        		<input type="range" name="min-age" id="min-age" min="18" max="100" value={{filters.age.min-age}}>
        		<label for="max-age">Age:</label>
        		<input type="range" name="max-age" id="max-age" min="0" max="100" value={{filters.age.max-age}}>
    		</div>
		</form>
	</div>

	</br>
	
	<div id="alcohol-filter">
		<form>
			<div data-role="rangeslider">
        		<label for="min-alc">Alcohol %:</label>
        		<input type="range" name="min-age" id="min-alc" min="0" max="100" value={{filters.alc.min-alc}}>
        		<label for="max-alc">Alcohol %:</label>
        		<input type="range" name="max-alc" id="max-alc" min="0" max="100" value={{filters.alc.max-alc}}>
    		</div>
		</form>
	</div>

	</br>

	<div id="spirit-filter">
		<form>
			<div data-role="fieldcontain">
    			<label for="spirit">Spirit:</label>
    				<select name="spirit" id="spirit">
				        <option value="0">All</option>

				        <option value="1">Option 1</option>

				        <option value="2">Option 2</option>

				        <option value="3">Option 3</option>
    				</select>
			</div>
		</form>
	</div>

	<div id="mixer-filter">
		<form>
			<div data-role="fieldcontain">
    			<label for="mixer">Mixer:</label>
    				<select name="mixer" id="mixer">
				        <option value="0">All</option>

				        <option value="1">Option 1</option>

				        <option value="2">Option 2</option>

				        <option value="3">Option 3</option>
    				</select>
			</div>
		</form>
	</div>

</div>