<div id="avatar-dialog-wrapper">
<div data-role="header">
	<a href="#profileEdit" data-icon="delete" data-iconpos="notext" data-inline="true" data-mini="true" class="back dialog-closer ui-btn-left"></a>  
	<h1>Select Avatar</h1> 
</div>

<div data-role=content data-corners="false" id="avatar-dialog-content">

<ul data-role="listview" data-inset="true" data-corners="false" id="avatar-list">
	<li><a href="#profileEdit" class="avatar-item" id="avatar-01"><img src="images/userImages/avatar-01.png" /></a></li>
	<li><a href="#profileEdit" class="avatar-item" id="avatar-02"><img src="images/userImages/avatar-02.png" /></a></li>
	<li><a href="#profileEdit" class="avatar-item" id="avatar-03"><img src="images/userImages/avatar-03.png" /></a></li>
	<li><a href="#profileEdit" class="avatar-item" id="avatar-04"><img src="images/userImages/avatar-04.png" /></a></li>
	<li><a href="#profileEdit" class="avatar-item" id="avatar-05"><img src="images/userImages/avatar-05.png" /></a></li>
	<li><a href="#profileEdit" class="avatar-item" id="avatar-06"><img src="images/userImages/avatar-06.png" /></a></li>
	<li><a href="#profileEdit" class="avatar-item" id="avatar-07"><img src="images/userImages/avatar-07.png" /></a></li>
	<li><a href="#profileEdit" class="avatar-item" id="avatar-08"><img src="images/userImages/avatar-08.png" /></a></li>
	<li><a href="#profileEdit" class="avatar-item" id="avatar-09"><img src="images/userImages/avatar-09.png" /></a></li>
</ul>

</div>
</div>