<div id="login-email">
	<div data-role="header" data-chars="8">
		<h1>ENTER YOUR DETAILS</h1>
	</div>

	<div data-role="content" class="grey-content">
		<div class="instructions">
			<p>Tell us a little about yourself so we can visualize the community's drinking patterns. We promise to never use your details for marketing purposes.</p>
		</div>

		<input type="text" id="username" value="{{user.userName}}" placeholder="USERNAME" maxlength="8"/>

		<div id="profile-avatar">
			<div id="profile-hexagon"></div>
			<a id="edit-profile-btn" data-role="button" data-theme="b">Change Image</a>
<!-- 			<a id="remove-img-btn" data-role="button" data-theme="b">Remove</a>
 -->		</div>

		<div id="gender-selector">
			<form>
	    		<fieldset data-role="controlgroup" data-type="horizontal" >
	    			<legend><span>Gender</span></legend>
					<input type="radio" name="gender" id="female" value="female" checked="checked"/>
         			<label for="female">Female</label>
         			<input type="radio" name="gender" id="male" value="male"  />
         			<label for="male">Male</label>
	    		</fieldset>
			</form>
		</div>

		<div id="age-selector">
			<form>
				<fieldset>
					<legend><span>Age</span></legend>
					<input type="number" id="age" placeholder="AGE">
				</fieldset>
			</form>
		</div>

		<div id="nationality-selector">
			<form>
				<fieldset>
					<legend>Nationality</legend>
					<div data-role="fieldcontain" data-corners="false" data-shadow="false">
	    				<select name="nationality" id="nationality">
	    					<option value="0">Select Nationality</option>
	    					{{#each countries}}
								<option value="{{this.country}}">{{this.country}}</option>
	    					{{/each}}
	    				</select>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div id="navigation-footer-wrapper" data-chars="6"></div>
</div>