<div id="navigation-header-wrapper"></div>

<div data-role="content">

	<a href="#admin" data-role="button" class="btn-order-drink" id="button">SIMULATE DRINK ORDER</a>

	<div id="order-added" data-role="button" class="btn-order-drink"></div>

</div>