@font-face {
    font-family: "ThreeSix11Pro-ExLgt";
    src: url("../fonts/ThreeSix11Pro-036Exlig.otf");
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "ThreeSix11Pro-Thin";
    src: url("../fonts/ThreeSix11Pro-018Thin.otf");
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "ThreeSix11Pro-Reg";
    src: url("../fonts/ThreeSix11Pro-072Reg.otf");
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "ThreeSix11Pro-Med";
    src: url("../fonts/ThreeSix11Pro-090Medi.otf");
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "ThreeSix11Pro-Bold";
    src: url("../fonts/ThreeSix11Pro-108Bold.otf");
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}