$brightBlue: #5C9AD2;
$medBlue: #5678BB;
$lgtBlue: rgb(91, 154, 211);
$lgtBlueAlpha: rgba(91, 154, 211, .7);

$drkGray: rgb(127, 127, 127);
$medGray: rgb(179, 179, 179);
$lgtGray: rgb(203, 203, 203);

$green: rgb(90, 210, 80);

$red: rgb(255, 0, 0);
$orange: rgb(242, 141, 0);
$orangeRed : rgb(255, 67, 0);

$menuGray: #A3A3A3;
$menuHighlighted: #E5E5E5;
$borderGray: #7B7B7B;
$ingredientMenuGray: #ececec;
$ingredientMenuLgtGray: #e6e6e6;

$headerFontSize: 18px;
$buttonFontSize: 18px;
$bannerFontSize: 18px;
$inputFontSize: 16px;

//$bgUrl: '../images/bg-grid.png';
//$iconsUrl: '../images/icons.svg';
