
<div data-role="header" data-theme='c'>
	<h1>Create an Account</h1>
</div>

<div data-role="content">
	<div class="login-content">
    	<input type="text" id="email" placeholder="EMAIL" />
    	<input type="password" id="password" placeholder="PASSWORD" />
    </div>
</div>

<div id="navigation-footer-wrapper"></div>

