<div data-role="header"  data-theme='c'>
	<h1>WELCOME</h1>
</div>

<div id="welcome-wrapper" data-role="content" class="grey-content">
	<div id="profile-avatar">
		<div id="profile-hexagon"></div>
	</div>
    <div class="message">
        <p>
            Welcome {{user.userName}}
        </p>
        <p>
            Thanks for signing up
        </p>
        <p>
            Now design a drink xxxxxxxxxx
        </p>
    </div>
</div>

<div id="navigation-footer-wrapper"></div>