<div id="login-email">
    <div data-role="header" data-theme='c'>
    	<h1>Login</h1>
    </div>

    <div class="create-content" data-role="content">
    	<input type="text" id="email" placeholder="EMAIL" />
    	<input type="password" id="password" placeholder="PASSWORD" />

    	<div id="error-message"> </div>

    </div>

    <div id="navigation-footer-wrapper"></div>

</div>


