@mixin box-shadow($x, $y, $distance, $color) {
    box-shadow: $x $y $distance $color;
    -webkit-box-shadow: $x $y $distance $color;
    -moz-box-shadow: $x $y $distance $color;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
}

@mixin blue-border-left($width: 4px) {
    border-left: $width solid $brightBlue;
}

@mixin blue-text-input($margin: 20px) {
      div.ui-input-text {
        margin: $margin 12 $margin 12;
        padding: 0;
        background: transparent;
        border-left: 4px solid $brightBlue;
        input {
            @include border-radius(0);
            background: #fff;
            font-size: 24px;
            width: 98%;
            height: 56px;
            margin: 0;
            padding-left: 2%;
        }
    }
}

@mixin active-menu-item() {
    background: $menuHighlighted;
    @include box-shadow(0, 1px, 8px, RGBA(0, 0, 0, .5));
    z-index: 2;
    .ui-btn-text a {
        color: #767676;
    }
    .ui-btn-inner {
        border: 0;
        .ui-icon-arrow-r {
            background: url('../images/arrow-blue-right.svg');
        }
    }
}

@mixin blue-banner-top() {
    color: #fff;
    background: $medBlue;
    padding: 20px 10px;
    font-family: "ThreeSix11Pro-Reg";
    position: relative;
}
