<div id="navigation-header-wrapper"></div>

<div data-role="content">
	<ul data-role="listview" data-inset="true" data-corners="false">

		<li>
			<strong>Coca-Cola Cherry taste</strong> <br><br>
			Ingredients: water,  fructose-glucose syrup, carbon dioxide, colour E 150d, acidifier phosphoric acid, blackcurrant and carrot extracts, flavourings (including caffeine), preservative sodium benzoate
			<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 49<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 12<br>
			of which sugars [g]: 12<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0.01<br>

		</li>


		<li>
			<strong>Coca-Cola Cherry Vanilla taste</strong> <br><br>
			Ingredients: water,  fructose-glucose syrup, carbon dioxide, colour E 150d, acidifiers phosphoric acid and citric acid, blackcurrant and carro
			t extracts, flavourings (including caffeine), preservative sodium benzoate<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 49<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 12<br>
			of which sugars [g]: 12<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0.01<br>
		</li>


		<li>
			<strong>Coca-Cola Lime taste</strong> <br><br>
			Ingredients: water,  fructose-glucose syrup, carbon dioxide, colour E 150d, acidifiers phosphoric acid and citric acid, flavourings (including caffeine)<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 48<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 11.8<br>
			of which sugars [g]: 11.8<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0.01<br>
		</li>

		<li>
			<strong>Coca Cola Vanilla taste</strong> <br><br>
			Ingredients: water, fructose-glucose syrup, carbon dioxide, colour E 150d, acidifiers phosphoric acid and citric acid, acidity regulator trisodium citrate, flavourings (including caffeine), preservatives sodium benzoate, anti-foaming agent E 900<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 49<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 12<br>
			of which sugars [g]: 12<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0.01<br>
		</li>

		<li>
			<strong>Coca-Cola Zero</strong> <br><br>
			Ingredients: water, carbon dioxide, colour E 150d, acidifiers phosphoric acid and citric acid, sweeteners aspartame and acesulfame k, flavourings (including caffeine), acidity regulator trisodium citrate, preservative sodium benzoate, anti-foaming agent E900
			<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 0.3<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 0<br>
			of which sugars [g]: 0<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0.01<br>
		</li>


		<li>
			<strong>Coca-Cola Zero Cherry taste</strong> <br><br>
			Ingredients: water, carbon dioxide, colour E 150d, acidifiers phosphoric acid and citric acid,  flavourings (including caffeine), sweeteners aspartame and acesulfame k, blackcurrant and carrot extracts, acidity regulator trisodium citrate, preservative sodium benzoate, anti-foaming agent E 900<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 2<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 0.2<br>
			of which sugars [g]: 0.2<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0.01<br>
		</li>


		<li>
			<strong>Coca-Cola Zero Lemon taste</strong> <br><br>
			Ingredients: water, carbon dioxide, colours E 150d and E 160a, acidifiers phosphoric and acid citric acid, stabilisers E 1450 and E 445, acidity regulator trisodium citrate, flavourings (including caffeine),  sweeteners aspartame and acesulfame k, preservative sodium benzoate, anti-foaming agent E 900<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 0.3<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 0<br>
			of which sugars [g]: 0<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0.01<br>
		</li>


		<li>
			<strong>Coca-Cola Zero Lime taste</strong> <br><br>
			Ingredients: water, carbon dioxide, colours E 150d, acidifiers phosphoric acid and citric acid, acidity regulator trisodium citrate, flavourings (including caffeine),  sweeteners aspartame and acesulfame k, preservative sodium benzoate, anti-foaming agent E 900<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 1<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 0<br>
			of which sugars [g]: 0<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0.01<br>
		</li>

		<li>
			<strong>Coca-Cola Zero Vanilla taste</strong> <br><br>
			Ingredients: water, carbon dioxide, colours  E 150d, acidifiers phosphoric acid and citric acid, acidity regulator trisodium citrate, sweeteners aspartame and acesulfame k, flavourings (including caffeine), preservative sodium benzoate, anti-foaming agent E 900
			<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 2<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: .2<br>
			of which sugars [g]: .2<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0.01<br>
		</li>


		<li>
			<strong>Sprite</strong> <br><br>
			Ingredients: water, fructose-glucose syrup, carbon dioxide, acidifier citric acid, acidity regulator potassium citrate, flavourings, preservative sodium benzoate
			<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 45<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 10.9<br>
			of which sugars [g]: 10.9<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0<br>
		</li>


		<li>
			<strong>Sprite Cherry taste</strong> <br><br>
			Ingredients: water, fructose-glucose syrup, carbon dioxide, acidifier citric acid, acidity regulator potassium citrate, colour E 150d, blackcurrant and carrot extracts, flavourings, preservative sodium benzoate<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 47<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 11.1<br>
			of which sugars [g]: 11.1<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0<br>
		</li>


		<li>
			<strong>Sprite Vanilla taste</strong> <br><br>
			Ingredients: water, fructose-glucose syrup, carbon dioxide, acidifier citric acid, acidity regulator potassium citrate, flavourings, preservative sodium benzoate<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 46<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 11<br>
			of which sugars [g]: 11<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0<br>
		</li>


		<li>
			<strong>Fanta Cherry taste</strong> <br><br>
			Ingredients: water, fructose-glucose syrup, carbon dioxide, acidifier citric acid, colour E 150d, blackcurrant and carrot extracts, flavourings, preservative sodium benzoate<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 49<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 11.8<br>
			of which sugars [g]: 11.8<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0<br>
		</li>


		<li>
			<strong>Coca-Cola</strong> <br><br>
			Ingredients: water, fructose-glucose syrup, carbon dioxide, colour E 150d, acidifier phosphoric acid, flavourings (including caffeine)<br><br>

			Nutrition information per 100 ml<br>
			Energy [kcal]: 45<br>
			Protein [g]: 0<br>
			Carbohydrate [g]: 11.2<br>
			of which sugars [g]: 11.2<br>
			Fat [g]: 0<br>
			of which saturates (g): 0<br>
			Fibre [g]: 0<br>
			Sodium [g]: 0<br>
		</li>


		<li>
			<strong>
			Dispensing equipment managed by CIA automation <br>

			C.I.A. Automation and Robotics s.r.l. <br>
			via San Carlo, 16<br>
			20847 Albiate (MB), Italy<br>
			</strong>
		</li>

	</ul>


</div>