<li class ='action-scroll-menu' data-icon='false' data-step-number={{stepNumber}}>
	<div class='action-wrapper'>
		<span class="makrlist-icon-left step-number">
			{{displayStepNumber}}
		</span>
		<div class="action-scroll-wrapper">

			<div class="action-scroll-view">
			    <ul>

			    {{#each actions}}
			        <li class='change-action' data-ingredient-id="{{this.ingredientId}}">
			        	<p>{{this.ingredientName}}</p>
			        </li>
			    {{/each}}
			    	<li class = 'change-action' data-ingredient-id="-1"><p>None</p></li>
			    </ul>
			</div>
		</div>
	</div>
</li>