<li class='action' data-step-number={{index}} data-inset='false'>
    <div data-role='collapsible' data-theme='b'>
        <h2>{{actionName}}</h2>
        <ul data-role='listview' data-filter='false' data-inset='false'>
            <li class = 'change-action' data-ingredient-id="-1"><a>None</a></li>
            {{#each actions}}
                    <li class = 'change-action' data-ingredient-id="{{this.ingredientId}}"><a>{{this.ingredientName}}</a></li>
            {{/each}}
        </ul>
    </div>
</li>