<li class ='action-scroll-menu' data-insertion-index={{insertionIndex}}>
	<div class='action-wrapper'>
		<span class="instruction">Add an action:</span>
		<div class="action-scroll-wrapper">
			<div class="action-scroll-view">
			    <ul>
			    {{#each actions}}
			        <li class='add-action' data-ingredient-id="{{this.ingredientId}}">
			        	<p>{{this.ingredientName}}</p>
			        </li>
			    {{/each}}
			    </ul>
			</div>
		</div>
	</div>
</li>