<li class ='action' data-insertion-index={{insertionIndex}} data-inset='false' data-corners="false">
    <div data-role='collapsible' data-theme='c'>
        <h2>Add mix method</h2>
        <ul data-role='listview'
            data-filter='false'
            data-inset='false'
            data-corners="false">
        {{#each actions}}
            <li class='add-action' data-ingredient-id="{{this.ingredientId}}"><a>{{this.ingredientName}}</a></li>
        {{/each}}
        </ul>
    </div>
</li>