<li class='added-ingredient type-{{type}}' data-icon='false' data-step-index={{index}}>
	<span class="makrlist-icon-left step-number">
		{{displayStepNumber}}
	</span>
	<a data-inline='true'><span class="ingredient-name">{{ingredientName}}</span></a>

	<div class='ui-li-aside ingredient-controls'>
		<span class="volume">{{volume}} {{units}}</span>
	</div>
</li>