<div id="navigation-header-wrapper"></div>



<div id="recipe-steps-actions-wrapper" data-role="content">
	<div class="small-instructions">
		<p>Select a method for mixing your ingredients:</p>
	</div>
	<div id="actions-bar" data-role="navbar">
		<ul>
			{{#each actions}}
				<li><a class="append-action" href="#" data-ingredient-id="{{this.ingredientId}}" data-role="button">{{this.ingredientName}}</a></li>
		    {{/each}}
		    <li><a class="append-action" href="#" data-ingredient-id="-1" data-role="button">None</a></li>
		    

		</ul>
	</div>
	
	<div class="small-instructions">
		<p>Select whether you'd like your drink strained:</p>
	</div>

	<div id="strain-bar" data-role="navbar">
		<ul>
			<li><a class="strain-button" href="#" data-strain-id=1 data-role="button">Strain</a></li>

		    <li><a class="strain-button" href="#" data-strain-id=0 data-role="button">Don't strain</a></li>
		    

		</ul>
	</div>
<!-- 	<div class="small-instructions">
		<p>+ + + + + + + + + + +</p>
	</div> -->
	<!--<div id="wave-wrapper">
		<canvas id="waveCanvas">
		</canvas>
	</div>-->
	<!-- <div id="recipe-steps-list-wrapper" ></div> -->
</div>



<div id="navigation-footer-wrapper"></div>