<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">

	<div id="footer-inner-wrapper">
		<fieldset class="ui-grid-a">
			<div class="ui-block-a"><a href="#" data-role="button" class="back" data-mini='false' data-theme="a">Back</a></div>
			<div class="ui-block-b"><a href={{nextHref}} id="nextButton" data-role='button' type="submit" data-mini='false' data-theme="c" class="btn-next  {{nextAllowedClass}}"}>{{nextButtonTitle}}</a></div>	   
		</fieldset>
	</div>
</div>