<div data-role="header" data-theme='c'>
	<h1>Create an account</h1>
</div>

<div data-role="content">
    <div class="login-content">
	   <a href="#createFB"
            data-role="button"
            id="login-fb"
            data-role="button"
            data-shadow="false"
            data-theme="a"
            data-icon="arrow-r"
            data-iconpos="right">Facebook</a>
	   <a href="#createEmail"
            data-role="button"
            data-role="button"
            data-shadow="false"
            data-theme="a"
            data-icon="arrow-r"
            data-iconpos="right">Email</a>
    </div>
</div>

<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">

    <div id="footer-inner-wrapper">
        <a href="#" data-role="button" class="back" data-mini='false' data-theme="a">Back</a>
    </div>
</div>

