<div id="navigation-header-wrapper"></div>

<div id="create-success-wrapper" data-role="content">
	<div class="content-wrapper">

	
	<div id="drink-card">
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<div>
					<p class="drink-name">{{drinkName}}</p>
					<p class="user-name">{{userName}}</p>
				</div>
			</div>

			<div class="ui-block-b">
				<div class="text-right">
					<p class="alcohol-percentage">{{alcoholPercentage}}%</p>
					<p class="alcohol-text">alcohol</p>
				</div>
			</div>

		
		</div>
	</div>



	<div id="recipe-actions-list-wrapper"></div>


		<div class="small-instructions-2">
			<p>Ingredients:</p>
		</div>
		<div id="drink-progress-wrapper">
		</div>

		<!--<div id="wave-wrapper">
			<canvas id="waveCanvas">
			</canvas>
		</div>-->
		<div id="recipe-steps-list-wrapper" ></div>
	</div>
</div>

<div id="navigation-footer-wrapper">
<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">

	<div id="footer-inner-wrapper">
		<fieldset class="ui-grid-b">
			<div class="ui-block-a one-third"><a href="#" data-role="button" class="back" data-mini='false' data-theme="a">Back</a></div>
			<div class="ui-block-b one-third"><a href="#customize" id="customizeButton" data-role="button" data-mini='false' data-theme="c" class="btn-next">Customize</a></div>
			<div class="ui-block-c one-third"><a href="#order" id="nextButton" data-role='button' type="submit" data-mini='false' data-theme="c" class="btn-next"}>Order this drink</a></div>
		</fieldset>
	</div>
</div>
</div>




