<div id="navigation-header-wrapper"></div>


<div id="order-status-wrapper" data-role="content">


	<div class="queue-position">

		<span class="count">
			{{orderStatus.aheadOfYou}}
		</span>
		<p>
			people ahead of me <i class="plus">++++++++++++++++++++</i>
		</p>

	</div>

	<div class="queue-position">
		<span class="count">
			{{orderStatus.behindYou}}
		</span>
		<p>
			people behind me  <i class="plus">++++++++++++++++++++</i>
		</p>
	</div>

  <div class="thank-you">
    <p>Thank you for your order.  Your drink is now queued and should appear on screen shortly!</p>
  </div>


<!-- 	<a class="text-me" href="#text"
            data-role="button"
            data-shadow="false"
            data-theme="a">
            <span class="sms">SMS <i class="plus">++++++++++++++++++++</i></span>
            <span class="text">
                Text me when my drink is ready
                <i class="plus">++++++++++++++</i>
            </span>
    <a>

	<div id="phone-number">
		<form>
			<fieldset>
				<input type="tel" id="phonenumber" placeholder="PHONE NUMBER">
			</fieldset>
		</form>
	</div> -->

<!-- 	<div id="add-phone-button">
		<a href="#" id="add-number-btn" data-role="button" data-mini='false' data-theme="a">Add Number</a>
	</div>
 -->
</div>

<div id="navigation-footer-wrapper"></div>



