<div id="navigation-header-wrapper"></div>

<div id="order-summary-wrapper" data-role="content">
	<div class="message-banner">
		<p>
			Order drink
			<!-- {{drinkName}} -->
		</p>
	</div>

	<div class="order-details-wrapper">

		<input type="text" data-mini="true" name="paycode" id="paycode" value="" data-corners="false" placeholder="Enter promo code">

		<div id="recipe-actions-list-wrapper"></div>


		<div class="small-instructions-2">
			<p>Ingredients:</p>
		</div>
		<div id="drink-progress-wrapper">
		</div>

		<div id="wave-wrapper">
			<canvas id="waveCanvas">
			</canvas>
		</div>
		<div id="recipe-steps-list-wrapper" ></div>
	</div>

	</div>
</div>

<div id="navigation-footer-wrapper"></div>