<div id="navigation-header-wrapper"></div>

<div id="create-success-wrapper" data-role="content">
	<div class="content-wrapper">
	<div class="message-banner">
		<p>
			Your drink has been created!
		</p>
	</div>

	<div class="message-banner blue">
		<p>
			{{drinkName}}
		</p>
	</div>
	<div id="recipe-actions-list-wrapper"></div>


		<div class="small-instructions-2">
			<p>Ingredients:</p>
		</div>
		<div id="drink-progress-wrapper">
		</div>

		<div id="wave-wrapper">
			<canvas id="waveCanvas">
			</canvas>
		</div>
		<div id="recipe-steps-list-wrapper" ></div>
	</div>
</div>

<div id="navigation-footer-wrapper"></div>