<div id="navigation-header-wrapper" data-chars="9"></div>
<div data-role="content">
	<ol data-role="listview">
    	<li>ADD INGREDIENTS</li>
    	<li>ADD MIX METHODS</li>
    	<li>NAME & ORDER YOUR DRINK</li>
	</ol>
    <div id="bg-x-white">
        <p>
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        </p>
    </div>
</div>
<div id="navigation-footer-wrapper" data-chars="5"></div>
