
<!--{{steps.length}} steps-->
<ul data-role="listview" data-inset="true" id="ingredients-list" data-corners="false">
	{{#each steps}}
		{{#ifIngredient this}}
			<li class="added-ingredient type-{{this.type}}" data-ingredient-id="{{this.ingredientId}}" data-icon="false" data-step-number={{@index}}>

				<div class="ui-grid-b">
					<div class="ui-block-a">
						<span class="makrlist-icon-left">
							<a href="#" data-role="button" data-inline="true" data-icon="delete" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-corners="false" class="remove-ingredient"></a>
						</span>
					</div>

					<div class="ui-block-b makr-text-center">
						<h1>{{this.ingredientName}}</h1>
						<!--<h1>${{cost this}}</h1>-->
					</div>
					<div class="ui-block-c">
						<div class="ui-li-aside ingredient-controls">

							<a href="#" data-role="button" data-inline="true" data-icon="minus" data-iconpos="notext" data-corners="false" data-iconshadow="false" data-shadow="false" class="decrease-ingredient"></a>

							<span class="volume">{{this.volume}} {{this.units}}</span>

							<a href="#" data-role="button" data-inline="true" data-icon="plus" data-iconpos="notext" data-corners="false" data-iconshadow="false" data-shadow="false" class="increase-ingredient"></a>

						</div>
					</div>
				</div>
			</li>
			<li class='tickmark-container'>
				<div class='tickmark'></div>
			</li>
		{{/ifIngredient}}
  	{{/each}}
</ul>



