<li class='added-ingredient type-{{type}}' data-icon='false' data-step-index={{index}}>
	<span class="makrlist-icon-left step-number">
		{{displayStepNumber}}
	</span>
	<a data-inline='true'><span class="ingredient-name">{{ingredientName}}</span></a>

<!-- 	<div class='ui-li-aside ingredient-controls'>
		<a href='#' data-role='button' data-inline='true' data-icon='arrow-u' data-iconpos='notext' class='up-ingredient-step'></a>
		<a href='#' data-role='button' data-inline='true' data-icon='arrow-d' data-iconpos='notext' class='down-ingredient-step'></a>
	</div>
 -->
</li>