<div id="types-scroll-wrapper">
	<div id="types-scroll-view">
	    <ul>
	    	{{#each items}}
				<li class="ingredient-type tab" data-ingredient-type-id="{{this.typeId}}">
					<p>{{this.typeName}}</p>
				</li>
  			{{/each}}
	    </ul>
	</div>
</div>