<div id="navigation-header-wrapper"></div>

<div id="ingredients-content-wrapper" data-role="content">

	<div data-role="navbar" id="ingredients-navbar"></div>
	
	<div id="types-scroll-container"></div>


	<div id="ingredients-scroll-container"></div>
	<div id="drink-progress-wrapper">
	</div>
	
	<div id="instructions">
		<p>Scroll sideways for more ingredients.  Tap to add an ingredient.</p>
	</div>

	<!--<div id="wave-wrapper">
		<canvas id="waveCanvas">
		</canvas>
	</div>-->
	
	<div id="ingredients-list-wrapper">
	</div>
	

</div>




<div id="navigation-footer-wrapper"></div>

