<div id="scroll-wrapper">
	<div id="scroll-view">
	    <ul>
	    	{{#each items}}
				<li class="ingredient type-{{this.type}}" data-ingredient-id="{{this.ingredientId}}"><p>{{{this.ingredientName}}}</p><!--<p>${{this.price}}</p>--></li>
  			{{/each}}
	    </ul>
	</div>
</div>