<div id="navigation-header-wrapper"></div>

<div id="name-your-drink-wrapper" data-role="content">
	<div class="instructions">
		<p>Edit your drink's name if you'd like.</p>
	</div>

	<div class="content-wrapper">
		<input type="text"
			name="name"
			id="name"
			value=""
			data-mini="true"
			placeholder="Name your drink">

		<!-- <div class="instructions">
			<p>Review your recipe:</p>
		</div>
		<div id="recipe-actions-list-wrapper"></div>


		<div class="small-instructions-2">
			<p>Ingredients:</p>
		</div>
		<div id="drink-progress-wrapper">
		</div> -->

		<!--<div id="wave-wrapper">
			<canvas id="waveCanvas">
			</canvas>
		</div>-->
<!-- 		<div id="recipe-steps-list-wrapper" ></div> -->

	</div>
</div>

<div id="navigation-footer-wrapper"></div>
