<div data-role="popup" id="popupCloseLeft" class="ui-content" data-corners="false" data-position-to="window" data-theme="none" style="width:280px">
    <a href="#" id='intro-popup-closer' data-rel="back" data-role="button" data-inline="true" data-icon="delete" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-corners="false" class="ui-icon-delete"></a>
    <p class="popup-message">{{message}}</p>
</div>