<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
	<div id="footer-inner-wrapper">
		<a href='{{nextHref}}'
            data-role='button'
            id="nextButton"
            class='btn-next ui-disabled {{nextAllowedClass}}'
            data-mini='false'
            data-theme='c'
            data-shadow="false"
            data-corners="false"
            data-inline='false' {{nextAllowedClass}} >{{nextButtonTitle}}</a>
	</div>
</div>




