<div data-role="panel" id="panel" data-theme="a" data-active-section="{{nav}}">

	<ul data-role="listview" data-theme="a">

<!-- 		<li data-icon="arrow-r" data-theme="a" data-iconshadow="false" data-section="explore">
			<a href="#explore">Explore drinks</a>
		</li>
 -->
		<li data-icon="arrow-r" data-theme="a" data-iconshadow="false" data-section="design" class="orange">
			<a href="#ingredients">Design my own drink</a>
		</li>

		<li data-icon="arrow-r"  data-theme="a" data-iconshadow="false" data-section="suggestions" class="orange">
			<a href="#suggestions">Customize classic recipes</a>
		</li>
<!-- 
		<li data-icon="arrow-r"  data-theme="a" data-iconshadow="false" data-section="profile">
			<a href="#profile">My recipes</a>
		</li> -->

<!-- 		<li data-icon="arrow-r"  data-theme="a" data-iconshadow="false" data-section="recipes">
			<a href="#">My recipes</a>
		</li>
 -->
<!-- 		<li data-role="list-divider" data-theme="a">
		</li> -->

		<li data-icon="help" data-theme="c" data-iconshadow="false">
			<a href="#cokeIngredients">Coke Cola Ingr.</a>
		</li>

<!-- 		<li data-icon="help" data-theme="c" data-iconshadow="false">
			<a href="#">Order Status</a>
		</li>

		<li data-icon="profile" data-theme="c" data-iconshadow="false">
			<a href="#">My Profile</a>
		</li>
 -->

<!-- 		<li data-role="list-divider" data-theme="a">
		</li> -->

 		<li data-icon="logout" data-theme="c" data-iconshadow="false">
			<a href="#logout">Logout</a>
		</li> 

	</ul>

</div>

<div data-role="header">
	<a href="#panel"
		data-icon="grid"
		data-iconpos="notext"
		data-iconshadow="false"
		data-corners="false"
		data-shadow="false"
		data-theme="null"
		class="back ui-btn-left">Menu</a>
	<h1>{{title}} <span>{{progress}}</span></h1>
	<a id="help-button" href="#help"
		data-icon="help"
		data-iconpos="notext"
		data-iconshadow="false"
		data-corners="false"
		data-shadow="false"
		data-theme="null"
		class="help ui-btn-left">Help</a>
</div>