#visualization-super-wrapper
{
	background: #FFF;
	padding-top:4px;
	padding-bottom: 4px;
	margin-top: 12px;

}

#graph-title
{
	text-align: center;
	h1
	{
		font-size: 18px;
		color: #000;
	}
}

#y-axis-label
{

	-webkit-transform: rotate(-90deg);
	position: absolute;
	//left: 0px;
	//top: 20px;
	width: 100%;
	height: 100%;
	margin-left: 0px;
	top: -8px;

	z-index:-1;
}

.axis-name
{
	text-align: center;
	color: #000;
}

.min-label
{
	float: left;
	margin-left: 12px;
	color: #000;
}
.max-label
{
	float: right;
	margin-right: 12px;
	color: #000;
}

#x-axis-label
{
	width: 100%;
	//height: 702px;
}



#filter-controls
{
	p {

		font-size: 13px;
	}

	a.ui-btn-active
	{
		border-left: 0px;
		border-right: 0px;

	}

	//background: #fff;
	a.explore_filter_button {
		.ui-btn-inner
		{

            background: $lgtGray url('../images/grey_stripe.png');
			/*padding: 6px;*/
			padding: 2px;
			//border: 0px;
			border-left: 0px;
			border-right: 0px;
		}

		&.ui-btn-active
		{
			.ui-btn-inner
		{

            background: #FFF;
			/*padding: 6px;*/
			padding: 2px;
			//border: 0px;
			border-left: 0px;
			border-right: 0px;

		}
		}

	}

	
}

#graph
{
	z-index:9999;
}

#visualization-wrapper
{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index:9999;
}

#visualization-canvas
{
	border-left: 1px solid $drkGray;
	border-bottom: 1px solid $drkGray;
	z-index:9999;
}

#explore_content
{
	overflow: hidden;
}


