#ingredients-content-wrapper {
    position: relative;
    margin-bottom: 12px;
    padding: 0;
    ul {
        margin: 0;
    }
}

.ui-mobile
{
    [data-role=page].ui-page
    {
        &.ui-page-footer-fixed
        {
            padding-bottom: 48px;
        }

    }
}



#drink-progress-wrapper
{
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 24px;
    width: 100%;
    background: #fff;
    text-align: center;
    color: #000;
    font-size: 16px;
    position: relative;
    //margin-bottom: 10px;
    //@include box-shadow(0, 2px, 4px, RGBA(0, 0, 0, 0.4));
    #progress-bar
    {
        height: 24px;
        position: absolute;
        top: 4px;
        left: 0px;
        background: $lgtGray url('../images/orange_stripe.png');
    }
    #progress-text
    {
        position: absolute;
        width: 100%;
        line-height: 24px;
        font-size: 18px;
    }
}

#strain-bar
{

    border-bottom: 1px solid $menuGray;
    border-top: 1px solid $menuGray;

    margin-bottom: 10px;
    //background: #FFF;
    a {

        span.ui-btn-inner {
            padding: 0px;
        }

        span.ui-btn-text {
            background: $lgtGray url('../images/grey_stripe.png');
            text-align: center;
            color: #000;
            margin: 0px;
            padding-left: 0px;
            font-size: 16px;
            //border: 1px solid $ingredientMenuGray;
            border-right: 1px solid $menuGray;
            border-left: 1px solid $menuGray;
        }
    }

    a.selected {
            span.ui-btn-text {
                background: $drkGray;
                color: #FFF;
                //border: 1px solid $ingredientMenuGray;
                border-right: 1px solid $menuGray;
                border-left: 1px solid $menuGray;
            }
    }
    //box-shadow: 0 2px 4px RGBA(0, 0, 0, 0.4);
    //-webkit-box-shadow: 0 2px 4px RGBA(0, 0, 0, 0.4);
}


#actions-bar
{
    margin-bottom: 10px;
    a {
        span.ui-btn-inner {
            padding: 0px;
        }

        span.ui-btn-text {
            background: $lgtGray url('../images/grey_stripe.png');
            text-align: center;
            color: #000;
            margin: 0px;
            padding-left: 0px;
            font-size: 16px;
            //border: 1px solid $ingredientMenuGray;
            border-right: 1px solid $menuGray;
            border-left: 1px solid $menuGray;
        }


    }

    a.selected {
            span.ui-btn-text {
                background: $drkGray;
                color: #FFF;
                //border: 1px solid $ingredientMenuGray;
                border-right: 1px solid $menuGray;
                border-left: 1px solid $menuGray;
            }
    }

    ul {
        //border-bottom: 1px solid $menuGray;

    }
    border-bottom: 1px solid $menuGray;
    border-top: 1px solid $menuGray;
    //box-shadow: 0 2px 4px RGBA(0, 0, 0, 0.4);
    //-webkit-box-shadow: 0 2px 4px RGBA(0, 0, 0, 0.4);


    //height: 48px;
    //width: 100%;
    /*a {
        margin: 0px;
        width: 25%;
        float: left;
        height: 44px;
        line-height: 44px;
        border-left: 2px solid $ingredientMenuLgtGray;

        cursor: pointer;
        &:first-child {
            border-left: 0;
        }
    }

    span.ui-btn-text {
        text-align: center;

        line-height: 44px;
        padding: 0px;
    }*/
}

div[data-role="navbar"] {

    ul.ui-grid-c {
        background: $lgtGray;
        li {
            width: auto;
            border: 0;
            background: #000;
            a {
                border-width: 0 0 0 1px;
            }
        }
        li:first-child {
            .ui-btn-active {
                border-left: 0;
            }
        }
    }
    .ui-btn-inner {
        font-size: 18px;
        padding: 1em 2em;
        border: 0;
    }
    .ui-btn-txt {
        text-shadow: none;
        font-family: "ThreeSix11Pro-Reg";
    }
    .ui-btn-active {
        background: $ingredientMenuGray;
        border: 1px solid $ingredientMenuGray;
        border-right: 1px solid $menuGray;
        border-left: 1px solid $menuGray;
        .ui-btn-inner {
            border-bottom: 1px solid $ingredientMenuGray;
            margin-bottom: -1px;
        }
        .ui-btn-text {
            color: #000;

        }
    }
}

#wave-wrapper
{
    //position: relative;
    //bottom: 0px;
    //height: 400px;
    margin-right: 12px;
    margin-left: 12px;

    #waveCanvas
    {

        position: absolute;
        bottom: 0px;
        overflow: hidden;
    }
}

.small-instructions {

    /*background: #FFF;
    height: 32px;
    line-height: 32px;*/
    padding: 6px;
        color: #fff;
        background: $medBlue;
        font-family: "ThreeSix11Pro-Reg";
        text-transform: uppercase;
    p {
        font-size: $headerFontSize;
        line-height: $headerFontSize;
        //color: #000;
        //font-size: 16px;
        //font-weight: normal;
        //margin: 0 auto;
        text-align: center;
    }

}





.small-instructions-2 {
    margin-top: 0px;
    border-top: 1px solid $ingredientMenuGray;

    border-bottom: 1px solid $ingredientMenuGray;
    background: #FFF;
    height: 32px;
    line-height: 32px;
    p {
        color: #000;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: normal;
        margin: 0 auto;
        text-align: center;
    }

}




#instructions {
    p {
        color: #666;
        width: 260px;
        padding: 1.5em 0;
        font-size: 32px;
        margin: 0 auto;
        text-align: center;
    }
}

.no-padding {
    padding: 0px;
}

#scroll-wrapper, .action-scroll-wrapper {
    height:             114px;
    width:              100%;
    background:         #fff;
    //background: url("../images/guide-ingredients.png") no-repeat 19px -80px;
    margin:             0px;
    padding:            0px;
    overflow:           hidden;

    border-bottom: 1px solid $ingredientMenuLgtGray;
    margin-bottom: 0px;

}

.action-scroll-wrapper {
    height:             2.75em;
    width:              auto;
    background:         #fff;
    //background: url("../images/guide-ingredients.png") no-repeat 19px -80px;
    margin:             0px;
    padding:            0px;
    margin-left:        50px;
    overflow:           hidden;
    //@include box-shadow(0, 2px, 4px, RGBA(0, 0, 0, 0.4));
}

#scroll-view {
    /* set scroll width extra large so we're guaranteed to initialize with horizontal */
    width:              9999px;
    height:             114px;
    padding:            0px;
    margin:             0px;
    ul {
        list-style:         none;
        display:            block;
        float:              left;
        width:              100%;
        margin:             0px;
        padding:            0px;
        text-align:         left;
        li {
            background: url('../images/hexagon-blue-half.svg') no-repeat 31px 6px;
            text-align: center;
            background-size: 30px 30px;
            float: left;
            border-left: 2px solid $ingredientMenuLgtGray;
            //padding: 40px 5px 3px 9px;
            padding: 4px;
            width: 85px;
            height: 102px;
            margin: 4px 0 0px 0px;
            cursor: pointer;
            &:first-child {
                border-left: 0;
            }
            p {
                font-size: 16px;
                margin-top: 36px;
                color:  #000;
            }
            a {
                margin-top:         auto;
                font-size:          16px;
                color:              #000;
                margin-bottom:      auto;
            }
            &:active {
                background-color: $lgtGray;
            }

            &.type-1
            {
               
                background: url('../images/hexagon-gray-quarter.svg') no-repeat 31px 6px;
                background-size: 30px 30px;
                border-left: 2px solid $ingredientMenuLgtGray
            }
            &.type-2
            {

                background: url('../images/hexagon-red-half.svg') no-repeat 31px 6px;
                background-size: 30px 30px;
            }
            &.type-3
            {
               
                background: url('../images/hexagon-blue-half.svg') no-repeat 31px 6px;
                background-size: 30px 30px;
            }
            &.type-4
            {

                background: url('../images/hexagon-orange-half.svg') no-repeat 31px 6px;
                background-size: 30px 30px;
            }
            &.type-5
            {

                background: url('../images/hexagon-green-half.svg') no-repeat 31px 6px;
                background-size: 30px 30px;
            }

            
        }


    }
}



#types-scroll-view {
    /* set scroll width extra large so we're guaranteed to initialize with horizontal */
    width:              9999px;
    height:             100%;
    padding:            0px;
    margin:             0px;
    ul {
        background:         #FFF;
        list-style:         none;
        display:            block;
        float:              left;
        width:              100%;
        height:             60px;
        max-height:         60px;
        margin:             0px;
        padding:            0px;
        text-align:         left;
        border-bottom:         1px solid $menuGray;;
        li {
            background: $lgtGray url('../images/grey_stripe.png');
            float: left;
            width: 140px;
            line-height: 60px;
            border-right: 1px solid #a3a3a3;
            padding: 0 5px;
            margin: 0;
            cursor: pointer;

            p {
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                color: #000;
            }
            a {
                margin-top:         auto;
                font-size:          16px;
                color:              #000;
                margin-bottom:      auto;
            }

            &.selected
            {
                background: #FFF;
                border-bottom: 1px solid #fff;
            }
            &:active {
                background: $lgtGray;
            }

        }
    }
}


.action-scroll-view {
    /* set scroll width extra large so we're guaranteed to initialize with horizontal */
    width:              9999px;
    height:             100%;
    padding:            0px;
    margin:             0px;



    ul {
        background: $lgtGray url('../images/grey_stripe.png');
        list-style:         none;
        display:            block;
        float:              left;
        width:              100%;
        height:             100%;
        margin:             0px;
        padding:            0px;
        text-align:         left;
        border-bottom:         1px solid $menuGray;
        li {
            background: $lgtGray url('../images/grey_stripe.png');
            float: left;
            border-right: 1px solid #a3a3a3;

            padding: 14px 15px;
            margin: 0;
            cursor: pointer;
            &:first-child {

            }
            p.ui-li-desc {
                font-size: 16px;
                text-align: center;
                margin: 0px;

            }
            a, .ui-link, a.ui-link {
                font-weight:        normal;
                margin-top:         auto;
                font-size:          16px;
                color:              #000;
                margin-bottom:      auto;
            }

            &.selected
            {
                background: #FFF;
                border-bottom: 1px solid #fff;
            }
            &:active {
                background-color: $lgtGray;
            }
        }
    }
}

#ingredients-navbar li {
    margin-left: auto;
    margin-right: auto;
}

.ingredient-controls {
    margin: 0;
    float: right;
    height: 30px;
    position: relative;
    padding: 0;
    width: 80px;
    line-height: 48px;
}





#ingredients-list, #steps-list, #ingredients-list-wrapper, #drinks-list, #action-steps-list, #explore-table-list {

    margin: 0;
    width: 100%;

    .tickmark-container {
        
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0px;
    background: url('../images/grey-transparent.png');

    &.ui-last-child
    {
        display: none;
        .tickmark {
            display: none;
        }
    }
}

    .tickmark {
        width: 50px;
        background: #FFF;
        height: 1px;

}
    


    


    .ui-btn-up-c {
            border: 0px;
            border-width: 0px;
        }

    .added-ingredient, .drink {
        border-left: 0px;
        border-right: 0px;
        border: 0px;
        clear: both;
        padding: 1px;
        height: 2.75em;
        margin-right: 12px;
        margin-left: 12px;
        background: url('../images/grey-transparent.png');
        color: #FFF;
        //background: url('../images/light_grey_stripe_transparent.png');


        //Actions review bars
        .ui-btn-inner
        {
            &.ui-li{
                border: 0px;
            }
        }
        //Actions text color
        .ui-btn-text
        {
            
            a {
                color: #FFF;
            }
        }

        .ingredient-controls {
            width: 140px;
            margin-right: 5px;
        }

        .ui-grid-b {

            //background: url('../images/grey-transparent.png');
            height: 100%;
            padding-left: 45px;
            
        }

        .ui-li-heading {
            color: #FFF;
            text-transform: uppercase;
            font-size:      16px;
            line-height: 13px;
            font-weight:    normal;
            margin: 0;
            padding: 2px;
            white-space: normal;
            background: #FFF;
            color: #000;
        }

        a[data-role="button"] {
            
            background: rgba(153, 153, 153, .5);
            padding: 0;
            width: 30px;
            height: 30px;
            .ui-btn-text {
                padding: 0;
            }
            &[data-icon="delete"] {
                margin: 6px 0;
                background: rgba(153, 153, 153, .5);
                margin-left: 6px;
            }

            &.ui-btn-down-c {
                background-color: $lgtGray !important;
            }

        }

        &[data-ingredient-id="1"] {
            //background-image: url('../images/light_green_stripe.png');
        }
        &[data-ingredient-id="2"] {
            .ui-block-a {
            }
            a[data-icon="delete"] {
                //background: rgba(127, 211, 90, .5);
            }
            //background-image: url('../images/light_green_stripe.png');
        }
        &[data-ingredient-id="3"] {
            .ui-block-a {
                //border-color: #7fd35a;
            }
            a[data-icon="delete"] {
                //background: rgba(127, 211, 90, .5);
            }
            //background-image: url('../images/light_green_stripe.png');
        }

        .ui-block-a {
            border-left: 4px solid $medBlue;
            height: 100%;
        }

        &.type-1
        {
            background-image: url('../images/grey-stripe-pattern-50.png');

            a[data-icon="delete"], a[data-icon="minus"], a[data-icon="plus"]
            {
                .ui-btn-inner
                {
                    background: #999999;
                }
            }
            

            .ui-block-a {
                border-left: 4px solid #999999;
            }
        }

        &.type-2
        {

            a[data-icon="delete"], a[data-icon="minus"], a[data-icon="plus"]
            {
                .ui-btn-inner
                {
                    background: #a60016;
                }
            }

            background-image: url('../images/red-stripe-pattern-50.png');
            .ui-block-a {
                border-left: 4px solid #a60016;
            }
        }

        &.type-3
        {
            a[data-icon="delete"], a[data-icon="minus"], a[data-icon="plus"]
            {
                .ui-btn-inner
                {
                    background: $medBlue;
                }
            }

            background-image: url('../images/blue-stripe-pattern-50.png');
            .ui-block-a {
                border-left: 4px solid $medBlue;
            }
        }

        &.type-4
        {
            a[data-icon="delete"], a[data-icon="minus"], a[data-icon="plus"]
            {
                .ui-btn-inner
                {
                    background: #f28d00;
                }
            }

            background-image: url('../images/orange-stripe-pattern-50.png');
            .ui-block-a {
                border-left: 4px solid #f28d00;
            }
        }

        &.type-5
        {

            a[data-icon="delete"], a[data-icon="minus"], a[data-icon="plus"], a[data-icon="arrow-u"], a[data-icon="arrow-u"]
            {
                .ui-btn-inner
                {
                    background: #7fd35a;
                }
            }

            background-image: url('../images/green-stripe-pattern-50.png');
            .ui-block-a {
                border-left: 4px solid #7fd35a;
            }
            
        }

        &.type-6
        {
            a[data-icon="delete"], a[data-icon="minus"], a[data-icon="plus"]
            {
                .ui-btn-inner
                {
                    background: $medBlue;
                }
            }

            background-image: url('../images/blue-stripe-pattern-50.png');
            .ui-block-a {
                border-left: 4px solid $medBlue;
            }
            
        }

        .ui-icon-delete {
            background: url('../images/icon-cross-rotated.svg') no-repeat;
            width: 20px;
            height: 20px;
            margin: 5px 0 0 4px;
        }

        .ui-icon-minus {
            background: #fff;
            width: 16px;
            height: 2px;
            margin: 14px 0 0 7px;
        }

        .ui-icon-plus {
            background: url('../images/icon-cross.svg') no-repeat;
            background-size: 20px 20px;
            width: 20px;
            height: 20px;
            z-index: 10;
            position: relative;
            margin: 5px 0 0 5px;
        }

        .ui-block-a {
            width: 45px;
            margin-left: -45px;
            float: left;
            display: -webkit-box;
            -webkit-box-pack: start;
            -webkit-box-align: center;
        }
        .ui-block-b {
            //width: 100%;
            height: 100%;
            display: -webkit-box;
            -webkit-box-align: center;
        }
        .ui-block-c {
            float: right;
            width: 150px;
            height: 100%;
            margin-right: 6px;
            display: -webkit-box;
            -webkit-box-pack: end;
            -webkit-box-align: center;
        }
    }

    .drink {
        height: 80px;
    }


}



#action-steps-list
{
    margin-top: 12px;
    margin-bottom: 12px;
}


#ingredients-list-wrapper {
    margin: 0;
    margin-top: 12px;


    ul {
        width: 100%;
        //position: absolute;
        //bottom: 0px;
    }

    .ingredient-controls {
        a[data-role="button"] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            &:first-child {
                left: 0;
            }
        }
        .volume {
            color: #000;
            background: #FFF;
            display: block;
            font-size: 16px;
            //background: #e6e6e6;
            width: 100%;
            height: 100%;
            line-height: 30px;
            min-width: 80px;
            text-align: center;
            text-transform: uppercase;
        }
        .makrlist-icon-left {
            a[data-role="button"] {
                background: rgba(0, 0, 0, .2);
            }
        }
    }
}

//Manually wrapping actions scroll views to get left border??
.action-wrapper{
    border-left: 4px solid #999;

    .instruction {
        display: inline;
        float: left;
        margin-right: 12px;
        margin-left: 4px;
        line-height: 43px;
    }
}

#recipe-steps-actions-wrapper {
    position: relative;
    margin-bottom: 12px;
    padding: 0;
    overflow: hidden; //????
    ul {
        margin: 0;
    }
}

#drink-card
{
    padding-top: 12px;
    padding-bottom: 12px;
    background: #FFF;
        .ui-block-a {
            padding-left: 12px;
            width: 50%;
            float: left;
            display: -webkit-box;
            -webkit-box-pack: start;
            -webkit-box-align: center;
        }

        .ui-block-b {
            //width: 100%;
            padding-right: 12px;
            width: 50%;
            text-align: right;
            height: 100%;
            display: -webkit-box;
            -webkit-box-align: center;
            .text-right
            {
                text-align: right;
                width: 100%
            }
        }


        p {
        &.user-name {
            font-size: 12px;
        }
        &.drink-name {
            font-size: 16px;
        }
        &.alcohol-percentage {
            font-size: 16px;
            text-align: right;
        }
        &.alcohol-text {
            text-align: right;
            font-size: 12px;
        }
    }
}

#drinks-list, #explore-drinks-list
{


    
    margin-top: 0px;
    margin-bottom: 12px;
    .drink, .explore-drink {
        border-bottom: 1px solid $menuGray;
        
        background: url('../images/grey-transparent.png');
        
        .ui-block-a {
            width: 80px;
            float: left;
            display: -webkit-box;
            -webkit-box-pack: start;
            -webkit-box-align: center;
        }

        .ui-block-b {
            //width: 100%;
            height: 100%;
            display: -webkit-box;
            -webkit-box-align: center;
        }

        .ui-block-c {
            float: right;
            width: 150px;
            height: 100%;
            margin-right: 12px;
            display: -webkit-box;
            -webkit-box-pack: end;
            -webkit-box-align: center;
        }
    }

    p {
        &.drink-name {
            font-size: 16px;
        }
        &.alcohol-percentage {
            font-size: 16px;
            text-align: right;
        }
        &.alcohol-text {
            text-align: right;
        }
    }

}

#recipe-steps-list-wrapper {
    .tickmark-container {
        
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0px;
    background: url('../images/grey-transparent.png');

    &.ui-last-child
    {
        display: none;
        .tickmark {
            display: none;
        }
    }
}

    .tickmark {
        width: 50px;
        background: #FFF;
        height: 1px;

}
.volume {
            color: #000;
            background: #FFF;
            font-size: 16px;
            //background: #e6e6e6;
            width: 100%;
            height: 100%;
            line-height: 30px;
            min-width: 80px;
            text-align: center;
            text-transform: uppercase;
        }

    
    width: 100%;
    margin: 0;
    margin-top: 12px;
    //position: absolute;
    //bottom: 0px;
    .action-scroll-menu
    {
        padding: 0;
        //height: 2.75em;
        background: url('../images/light_grey_stripe.png');
        //border-left: 5px solid #999
        border-left-width: 1px;

    }

    .added-ingredient {
        height: 100%;
        margin-left: 12px;
        margin-right: 12px;

        .ingredient-name
        {
            background: #FFF;
            color: #000;
        }

        .ingredient-controls {
            a[data-role="button"] {
                margin-top: 0;
                span {
                    border: 0;
                }
                .ui-icon {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: #9cf;
                    margin: 0;
                }
                .ui-icon-arrow-d {
                    background: url('../images/arrow-white-down.svg') no-repeat 50% 50%;
                }
                .ui-icon-arrow-u {
                    background: url('../images/arrow-white-up.svg') no-repeat 50% 50%;
                }
            }
        }


        .ui-btn-inner {
            border-top: 0;
            border-left: 4px solid #999;
            height: 100%;
        }

        .ui-btn-inner {
            border-left: 4px solid $medBlue;
            height: 100%;
        }

        &.type-1
        {
            .ui-btn-inner.ui-li  {
                border-left: 4px solid #999999;
            }

            .ingredient-controls {
                a[data-role="button"] {
                    .ui-btn-inner {
                        background: #999999;
                    }
                }
            }

            .makrlist-icon-left {
                &.step-number {
                    font-weight: normal;
                    float: left;

                    font-size: 16px;
                    margin-left: 6px;
                    background: #999999;
                    color: #FFF;
                    padding: 8px 11px;

                    margin-top: 6px;

                }
            }







        }

        &.type-2
        {
            .ui-btn-inner.ui-li  {
                border-left: 4px solid #a60016;
            }

            .ingredient-controls {
                a[data-role="button"] {
                    .ui-btn-inner {
                        background: #a60016;
                    }
                }
            }

            .makrlist-icon-left {
                &.step-number {
                    font-weight: normal;
                    float: left;

                    font-size: 16px;
                    margin-left: 6px;
                    background: #a60016;
                    color: #FFF;
                    padding: 8px 11px;

                    margin-top: 6px;

                }
            }
        }

        &.type-3
        {
            .ui-btn-inner.ui-li  {
                border-left: 4px solid $medBlue;
            }

            .ingredient-controls {
                a[data-role="button"] {
                    .ui-btn-inner {
                        background: $medBlue;
                    }
                }
            }

            .makrlist-icon-left {
                &.step-number {
                    font-weight: normal;
                    float: left;

                    font-size: 16px;
                    margin-left: 6px;
                    background: $medBlue;
                    color: #FFF;
                    padding: 8px 11px;

                    margin-top: 6px;

                }
            }
        }

        &.type-4
        {
            .ui-btn-inner.ui-li  {
                border-left: 4px solid #f28d00;
            }

            .ingredient-controls {
                a[data-role="button"] {
                    .ui-btn-inner {
                        background: #f28d00;
                    }
                }
            }

            .makrlist-icon-left {
                &.step-number {
                    font-weight: normal;
                    float: left;

                    font-size: 16px;
                    margin-left: 6px;
                    background: #f28d00;
                    color: #FFF;
                    padding: 8px 11px;

                    margin-top: 6px;

                }
            }
        }

        &.type-5
        {
            .ui-btn-inner.ui-li  {
                border-left: 4px solid #7fd35a;
            }

            .ingredient-controls {
                a[data-role="button"] {
                    .ui-btn-inner {
                        background: #7fd35a;
                    }
                }
            }

            .makrlist-icon-left {
                &.step-number {
                    font-weight: normal;
                    float: left;

                    font-size: 16px;
                    margin-left: 6px;
                    background: #7fd35a;
                    color: #FFF;
                    padding: 8px 11px;

                    margin-top: 6px;

                }
            }
        }

        &.type-6
        {
            .ui-btn-inner.ui-li  {
                border-left: 4px solid $medBlue;
            }

            .ingredient-controls {
                a[data-role="button"] {
                    .ui-btn-inner {
                        background: $medBlue;
                    }
                }
            }

            .makrlist-icon-left {
                &.step-number {
                    font-weight: normal;
                    float: left;

                    font-size: 16px;
                    margin-left: 6px;
                    background: $medBlue;
                    color: #FFF;
                    padding: 8px 11px;

                    margin-top: 6px;

                }
            }
            
        }



        .ui-btn-text {
            padding-right: 80px;
            .ui-link-inherit {
                text-transform: uppercase;
                font-size: 16px;
                line-height: 43px;
                color: #FFF;
                padding: 0 11px;
            }
        }
        .ingredient-controls {
            width: 80px;
            color: #FFF;
            float: right;
            margin-right: -74px;
        }
    }

    

    .action {
        margin: 0 auto;
        padding: 0;
        color: #fff;
        text-transform: uppercase;
        background: transparent;
        border: 0;

        .ui-li-heading {
            @include border-radius(0);

        }

        .ui-collapsible-inset {
            margin: 0;
        }

        .ui-btn-inner {
            padding: 0;
            text-align: center;
            line-height: 34px;
            color: #fff;
            font-size: 13px;
        }

        .ui-collapsible-content {
            padding: 0;
            border: 0;
        }

        h2 {
            a {
                background: $medBlue;
                width: 20%;
                min-width: 140px;
                margin: 0 auto;
                border: 0;
                .ui-icon {
                    display: none;
                }
            }
        }

        ul[data-role="listview"] {
            @include border-radius(0);
        }

        .add-action,
        .change-action {
            background: #fff;
            border-color: #3eb3e5;
            .ui-btn-text {
                a {
                    font-size: 22px;
                    color: $medBlue;
                    text-align: left;
                    padding-top: 0;
                    padding-bottom: 0;
                    line-height: 1.5em;
                }
            }

            .ui-icon-arrow-r {
                background: url('../images/arrow-blue-right.svg') no-repeat;
                background-size: 20px;
                width: 20px;
                height: 20px;
                margin-top: -9px;
                margin-right: 5px;
            }

            &:first-child {
                div {
                    border-top-color: $medBlue;
                }
            }
        }

    }

    
}

#create-success-wrapper, #order-summary-wrapper {
    position: relative;
    margin-bottom: 12px;
}

#order-summary-wrapper {
    div.ui-input-text {
        margin: 12px;
        padding: 0;
        background: transparent;
        border-left: 4px solid $lgtBlue;
        input {
            @include border-radius(0);
            background: #fff;
            font-size: $inputFontSize;
            width: 98%;
            height: 56px;
            margin: 0;
            padding-left: 2%;
            margin-bottom: 10px;
        }
    }
}

#name-your-drink-wrapper, {
    position: relative;
    margin-bottom: 12px;
    .instructions {
        padding: 6px;
        color: #fff;
        background: $medBlue;
        font-family: "ThreeSix11Pro-Reg";
        text-transform: uppercase;
        text-align: center;
    p {
        font-size: $headerFontSize;
        line-height: $headerFontSize;
        //color: #000;
        //font-size: 16px;
        //font-weight: normal;
        //margin: 0 auto;
        text-align: center;
    }
    }

    .content-wrapper {
        //padding: 15px 10px;
    }

    div.ui-input-text {
        margin: 12px;
        padding: 0;
        background: transparent;
        border-left: 4px solid $lgtBlue;
        input {
            @include border-radius(0);
            background: #fff;
            font-size: $inputFontSize;
            width: 98%;
            height: 56px;
            margin: 0;
            padding-left: 2%;
            margin-bottom: 10px;
        }
    }


}

.ui-bar {
    #next-button-wrapper {
        a[data-role="button"][data-theme="a"] {
            background: #ccc;
            border: 0;
            padding-left: 0;
            box-shadow: none;
            .ui-btn-text  {
                // inactive state
                // background: #ccc;
                // color: #9a9a9a;
                padding-left: 0;
                text-align: center;
                text-transform: uppercase;
                background: #4880fa;
                color: #fff;
            }
        }
    }
}

#btn-next {
    width: 80%;
}

#footer-inner-wrapper {
    .ui-block-a {
        width: 30%;
    }

    .ui-block-b {
        width: 70%;
    }
    .one-third
    {
        width: 33.333%;
    }
    a[data-role="button"].back {
        border: 0;
        .ui-btn-inner {
            .ui-btn-text {
                background: $drkGray;
                width: 100%;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                padding-left: 0;
            }
        }
    }
}


#bg-x-white {

    p {
        word-wrap: break-word;
        color: #fff;
        font-size: 26px;
        line-height: 36px;
    }
}

div[data-role="page"].design-instructions {
    background: $lgtBlue;
}

.design-instructions {
    .ui-panel-content-wrap {
        background: $brightBlue;
    }
    div[data-role="header"] {
        border: 0;
        //@include box-shadow(0, 0, 0, 0);
        h1 {
            color: #fff;
            font-size: $headerFontSize;
        }
    }
    div[data-role="content"] {
        clear: both;
        padding: 15px;
        ol {
            font-size: 26px;
            margin: 0 0 0 -10px;
            counter-reset: li;
            li {
                list-style: none;
                background: none;
                color: #fff;
                border: 0;
                position:relative;
                margin:0 0 0 1em;
                padding: 5px 15px;
            }

            li:before {
                content: counter(li)'.'; /* Use the counter as content */
                counter-increment: li; /* Increment the counter by 1 */
                position: absolute;
                top: 20%;
                left: -.5em;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 1em;
                font-size: 26px;
                padding: 1px 0 0;

                color:#fff;
            }

        }
    }
    .ui-footer {
        border-color: $lgtBlueAlpha;
        background: #fff;
    }

    #footer-inner-wrapper {
        background: none;
    }
}