@import "utils/reset";
@import "utils/mixins";
@import "utils/variables";
@import "utils/fonts";
@import 'jquery.mobile-1.3.0.css';
@import "login";
@import "menu";
@import "recipe";
@import "payment";
@import "queue";
@import "graph";


.ui-btn-inner {
    .ui-icon {
        z-index: 1;
    }
}

div,
input,
select,
p {
    text-transform: uppercase;
}

#intro-popup-closer
{
    border: 0px;
}


#avatar-dialog-wrapper
{
    background-color: $lgtGray  !important;

    .ui-btn-inner
    {
        border: 0px;
    }

    .ui-icon-arrow-r
    {
        background: url('../images/arrow-blue-right.svg') no-repeat;
        width: 31px;
        height: 30px;
        z-index: 1;
        margin-top: -17px;
        right: 15px;
    }
}

#avatar-list
{
    @include blue-border-left(4px);
    li{
        padding: 4px;
        border: 0px;
        border-bottom: 1px solid #FFF;
        background: url('../images/grey_stripe.png');
        &.ui-last-child
            {
                border-bottom: 0px;
            }
    }
    margin: 0px;
    .avatar-item
    {
        //margin: 4px;

    }
}

.dialog-closer
{
    background: $drkGray;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    text-shadow:    none;
    box-shadow:     none;
    border: 0px;
    
    width: 20px;
    height: 20px;
    padding: 6px;
    .ui-icon
    {
        background: url('../images/icon-close.svg') no-repeat;
        padding: 6px;

    }
    .ui-btn-inner
    {
        border: 0px;

    }
}

#profile-content-wrapper
{
    color: #000;
    #profile-avatar
    {
        margin: 12px;
    }

    #profile-bio
    {
        margin-left: 124px;
        margin-top: 40px;
        .age-gender, .nationality {
            font-size: 12px;
        }
    }

    .message
    {
        color: #000;
        background: #FFF;
        margin: 12px;
        padding: 12px;
        .blue {
            color: $medBlue;
        }
    }

}

.message-header
    {
        background: #FFF;
        margin: 12px;
        padding: 12px;
        margin-bottom: 0px;
        .blue {
            color: $medBlue;
        }
    }


.sponsors-image {
    width: 100%;
}
.sponsors-notice {
    width: 100%;
    text-align: center;
    background: #FFF;
    padding-top: 12px;
    padding-bottom: 12px;
    .down-arrow {
        width:40px;
        height: 40px;
    }
    cursor: pointer;
}

div[data-role="page"] {
    #popupCloseLeft {
        width: 220px;
    }

    background: url('../images/grey_stripe.png');

    div[data-role="popup"] {
        width: 220px !important;
        background: #FFF;
        font-family: "ThreeSix11Pro-Reg";
        a[data-role="button"] {
            background: $drkGray;
            float: left;
            padding: 0;
            width: 30px;
            height: 30px;
            .ui-btn-text {
                padding: 0;
            }
            &[data-icon="delete"] {

                margin: 0 0;
                background: rgba(153, 153, 153, .5);
            }
        }

        .ui-icon-delete {
            background: url('../images/icon-close.svg') no-repeat;
            width: 20px;
            height: 20px;

            &.ui-icon
            {
                margin: 7px 0 0 7px;
            }
        }

        .popup-message {
            margin: 0px;
            margin-left: 28px;
            padding: 12px;
            color: #000;
        }
    }
}

.ui-loader
{
    color: #000;
    background: #FFF;
    &.ui-corner-all {
        border-radius: 0px;
        -webkit-border-radius: 0px;
    }
    -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    box-shadow: 0px 0px 12px rgba(0,0,0,.6);
}

.ui-popup
{
    &.ui-corner-all {
        border-radius: 0px;
        -webkit-border-radius: 0px;
    }
}

.ui-panel-content-wrap {
    background: url('../images/grey_stripe.png');
    .ui-content {
        padding: 0;
    }
}

.ui-panel-content-wrap,
.grey-content {
    background: url('../images/grey_stripe.png');
}

#profile-avatar {
    height: 120px;
    padding: 6px 12px 6px 5px;
    background: #fff;
    ul {
        margin: 2em 0 0 0;
        padding: 0 0 0 8em;
        li {
            margin: 0;
            padding: .1em 0;
            font-family: "ThreeSix11Pro-Reg";

        }
    }
}

#profile-hexagon {
    float: left;
    background: #fff;
}


#edit-profile-btn {
    float: right;
}


h1,
a,
p,
legend {
    font-family:    "ThreeSix11Pro-Reg";
    text-shadow:    none;
    box-shadow:     none;
    font-weight:    normal;
}

.ui-panel-content-wrap {
    //@include box-shadow(-2px, 0, 7px, RGBA(0, 0, 0, .5));
}


/* BUTTONS ------------------------------- */

.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a,
.ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b,
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c  {
    font-family:    "ThreeSix11Pro-Reg";
    text-shadow:    none;
    box-shadow:     none;
    font-weight:    normal;
}


.ui-btn-down-a.ui-btn,
.ui-btn-down-b.ui-btn,
.ui-btn-down-c.ui-btn {
    .ui-btn-inner,
    .ui-btn-text {
        background-color: $lgtGray  !important;
    }
}

a[data-role="button"] {
  border-radius: 0;
  height: 54px;
  background: #fff;
  box-shadow: none;
  .ui-btn-inner {
    border: 0;
    margin: 0;
    padding: 0;
  }
  .ui-btn-text {
    display: block;
    line-height: 54px;
    color: $medBlue;
    background: #fff;
    text-align: left;
    padding-left: 10px;
    font-weight: normal;
    text-shadow: none;
    font-size: $buttonFontSize;
  }
    &.ui-btn-up-a, &.ui-btn-up-c, &.ui-btn-hover-a, &.ui-btn-hover-c {
        border: 0;
    }
}

/* A is white bg button */
a[data-role="button"][data-theme="a"] {
    background: #fff;
    @include blue-border-left(8px);
}

a[data-role="button"][data-theme="a"] .ui-btn-text {
    border: 0;
    color: #4880fa;
    background: #fff;
}

a[data-role="button"][data-icon="arrow-r"] .ui-icon-arrow-r {
  background: url('../images/arrow-blue-right.svg') no-repeat;
  width: 31px;
  height: 30px;
  z-index: 1;
  margin-top: -17px;
  right: 15px;
}

a[data-role="button"][data-icon="arrow-r-green"] .ui-icon-arrow-r-green {
  background: url('../images/arrow-green-right.svg') no-repeat;
  width: 31px;
  height: 30px;
  z-index: 1;
  margin-top: -17px;
  right: 15px;
}

/* B is blue bg, white text button */
a[data-role="button"][data-theme="b"],
.btn-next[data-role="button"],
#nextButton[data-role="button"] {
    .ui-btn-text {
        background: $orange;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding-left: 0;
    }
    &.ui-disabled {
        .ui-btn-text {
            background: #9a9a9a;    //#ccc
            color: #333;            //#9a9a9a
        }
    }
}

a[data-role="button"].back {
    border: 0;
    .ui-btn-inner {
        .ui-btn-text {
            background: $drkGray;
            width: 100%;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            padding-left: 0;
        }
    }
}

/* HEADER ------------------------------- */

div[data-role="header"] {
    background: $medBlue;
    //@include box-shadow(0, 1px, 5px, RGBA(0, 0, 0, 0.4));
    border: 0;
    border-bottom: 1px solid $medGray;
    padding-bottom: 1px;

    h1.ui-title {
        font-size: $headerFontSize;
        color: #fff;
        margin: 0px;
        line-height: 48px;
        text-overflow: clip;
        span {
            color: #999;
        }
    }

    // Views without the menu panel:
    &[data-chars="8"] {
        h1:after {
            content: ' ////////';
        }
    }
}

.ui-header {
    a[data-icon="grid"] {
        top: 13px;
        left: 11px;
        z-index: 10;
        width: 30px;
        .ui-btn-inner {
            width: 30px;
            height: 20px;
            border: 0;
            .ui-icon-grid {
                background: url('../images/icon-menu.svg') no-repeat;
                border-radius: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                z-index: 1;
            }

        }
    }

    a[data-icon="help"] {
        top: 13px;
        right: 11px;
        left: auto;
        z-index: 10;
        width: 20px;
        .ui-btn-inner {
            width: 20px;
            height: 20px;
            border: 0;
            .ui-icon-help {
                background: url('../images/icon-question-mark-2.svg') no-repeat;
                border-radius: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                z-index: 1;
            }

        }
    }
}

/* FOOTER ------------------------------- */

footer {
    background-color: #f9f9f9;
}

.ui-footer {
    border-color: #fff;
}

/*required to pad footer buttons correctly*/
/*http://jquerymobile.com/demos/1.2.0/docs/toolbars/docs-footers.html*/
#footer-inner-wrapper {
    background: #fff;
    padding: 2px 8px;
    height: 44px;
    *[data-role="button"] {
        height: 36px;
        margin-top: 4px;
//        .ui-b
        .ui-btn-text {
            line-height: 36px;
        }
    }
}

#navigation-footer-wrapper[data-chars="6"] {
    #footer-inner-wrapper {
        .ui-btn-text {
            &:before {
                content: '++++++ ';
            }
            &:after {
                content: ' ++++++'
            }
        }
    }
}


#navigation-footer-wrapper[data-chars="5"] {
    #footer-inner-wrapper {
        .ui-btn-text {
            &:before {
                content: '+++++ ';
            }
            &:after {
                content: ' +++++'
            }
        }
    }
}

/* INPUT ------------------------------- */
div.ui-input-text
{

    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #FFF;
    padding: .7em 15px;

    input.ui-input-text
    {
        background-color: #FFF;
        padding:0px;
        margin: 12px;

        text-transform: uppercase;
        font-family: "ThreeSix11Pro-Reg";
    }

}

.makr-list-header {
    display: inline;
    padding: .7em 15px;
}

.makr-text-center
#scroll-view li
{
    background-color:   #c2c2c2;
    margin-left:        12px;
    height:             60px;
    line-height:        60px;
    display:            block;
    vertical-align:     middle;
    float:              left;
    width:              120px;
    border:             none;
    text-align:         center;
    margin-top:         12px;
    margin-bottom:      12px;
}

#scroll-view li a
{
    text-align: center;
}

.makr-center h1
{
    padding: 0px;
}

i.plus {
    font-style: normal;
}


