<div data-role="header">
	<h1>Drink Results</h1>
		<a href="#" data-icon="delete" data-iconpos="notext" data-inline="true" data-mini="true" class="back dialog-closer ui-btn-left"></a>   
</div>

<div data-role="content">
	<ul data-role="listview" data-inset="true" id="explore-drinks-list" data-corners="false" >
	   	{{#each drinks}}
			<li class="explore-drink" data-recipe-id={{this.recipeId}}>
				<div class="ui-grid-b">
					<div class="ui-block-a">
						<span class="makrlist-icon-left">
							<div id="recipe-graphic-wrapper"></div>
						</span>
					</div>

					<div class="ui-block-b makr-text-center">
						<div>
							<p class="drink-name">{{this.drinkName}}</p>
							<p class="user-name">({{this.age}}{{this.gender}})</p>
						</div>
					</div>

					<div class="ui-block-c">
						<div>
							<p class="alcohol-percentage">{{displayAlcoholContent this}}%</p>
							<p class="alcohol-text">alcohol</p>
						</div>
					</div>
				</div>

	    	</li>
		{{/each}}
	</ul>

	<!--<div class="message-header">
        <p class="message-header-text">Recipes<p>
    </div>

	<ul id="drinks-list"
		data-role="listview"
		data-inset="true"
		data-corners="false">
	</ul>-->


	
</div>