<div id="navigation-header-wrapper"></div>

	
<div data-role="content" id="explore_content">

	<div data-role= "navbar" id="filter-controls">
		<ul>
 			<li><a id="graph-age-pop" class="explore_filter_button ui-btn-active" ><p>Age<br>vs<br>Popularity</p></a></li>
			<li><a id="graph-age-alc" class="explore_filter_button" ><p>Age<br>vs<br>Alcohol%</p></a></li>
			<li><a id="graph-pop-alc" class="explore_filter_button" ><p>Popularity<br>vs<br>Alcohol%<br></p></a></li>
		</ul>
	</div>

	<div id="visualization-super-wrapper">
	<div id="visualization-wrapper">
		<div id="graph-title"><h1>graph title</h1></div>
		<div id="y-axis-label"><p class="min-label">min</p><p class="max-label">max</p><p class="axis-name">y label</p></div>
		<div id= "graph"></div>
		<div id="x-axis-label"><p class="min-label">min</p><p class="max-label">max</p><p class="axis-name">x label</p></div>
	</div>
	</div>

</div>


<!-- TODO: Need to refactor back and forward button logic and rendering. -->
<!--
<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
	<div id="footer-inner-wrapper">
		<a href='#filter' data-rel="dialog" data-role='button' data-mini='false' data-theme='a' data-inline='false'>Filter</a>
	</div>
</div>
-->